<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_sh_ride_shape_4007_sh_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-37}</string>
                <key>spriteSize</key>
                <string>{102,136}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4007_sh_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-37}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,139},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4007_sh_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-37}</string>
                <key>spriteSize</key>
                <string>{98,136}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{103,139},{98,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4007_sh_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-37}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{203,137},{102,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4007_sh_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-36}</string>
                <key>spriteSize</key>
                <string>{104,134}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{105,1},{104,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4007_sh_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-36}</string>
                <key>spriteSize</key>
                <string>{104,134}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{211,1},{104,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4007_sh_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-35}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{203,273},{102,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4007_sh_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-36}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{307,137},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1.png</string>
            <key>size</key>
            <string>{408,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30442cc042f3159aab1a99629b2868ee:30fd4ef1d42e37c2f5680b71a9d9e3a9:6b0fd2cb93095b6ecebd329f5f054e55$</string>
            <key>textureFileName</key>
            <string>run_1.png</string>
        </dict>
    </dict>
</plist>
