<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_13_sh_ride_shape_4007_sh_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-38}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{103,1},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4007_sh_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-37}</string>
                <key>spriteSize</key>
                <string>{90,140}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{199,143},{90,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4007_sh_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-38}</string>
                <key>spriteSize</key>
                <string>{88,138}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{291,143},{88,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4007_sh_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-37}</string>
                <key>spriteSize</key>
                <string>{88,140}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{293,1},{88,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4007_sh_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-37}</string>
                <key>spriteSize</key>
                <string>{92,140}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{199,1},{92,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4007_sh_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-37}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{101,143},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4007_sh_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-37}</string>
                <key>spriteSize</key>
                <string>{100,140}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4007_sh_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-37}</string>
                <key>spriteSize</key>
                <string>{98,140}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{1,143},{98,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1.png</string>
            <key>size</key>
            <string>{382,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04f3b3c2af9d2d0331af37d23c125178:c3f5178a6af467486537016df1427444:0b965a9b2764de96d50c3e5fcae4ba7a$</string>
            <key>textureFileName</key>
            <string>stand_1.png</string>
        </dict>
    </dict>
</plist>
