<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd1_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-22}</string>
                <key>spriteSize</key>
                <string>{314,196}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{345,1},{314,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd1_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-28}</string>
                <key>spriteSize</key>
                <string>{342,212}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{1,1},{342,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd1_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-14}</string>
                <key>spriteSize</key>
                <string>{358,154}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{1,559},{358,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd1_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-12}</string>
                <key>spriteSize</key>
                <string>{392,156}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{1,215},{392,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd1_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-21}</string>
                <key>spriteSize</key>
                <string>{342,156}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{361,559},{342,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd1_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-25}</string>
                <key>spriteSize</key>
                <string>{300,174}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{281,383},{300,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd1_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-20}</string>
                <key>spriteSize</key>
                <string>{278,180}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{1,373},{278,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd1_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{310,182}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{395,199},{310,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_f.png</string>
            <key>size</key>
            <string>{716,716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33e4c8676f300ebf1f14cfc4dfa91d14:2b1ba2ee50a4483be565f198d7f28b07:106d3046d0e71676a4432022aa46d34d$</string>
            <key>textureFileName</key>
            <string>run_3_f.png</string>
        </dict>
    </dict>
</plist>
