<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_rd1rd2_ride_ride_9441_rd2_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,67}</string>
                <key>spriteSize</key>
                <string>{336,202}</string>
                <key>spriteSourceSize</key>
                <string>{616,616}</string>
                <key>textureRect</key>
                <string>{{1,177},{336,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9441_rd2_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,58}</string>
                <key>spriteSize</key>
                <string>{366,174}</string>
                <key>spriteSourceSize</key>
                <string>{616,616}</string>
                <key>textureRect</key>
                <string>{{1,1},{366,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9441_rd2_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,38}</string>
                <key>spriteSize</key>
                <string>{380,184}</string>
                <key>spriteSourceSize</key>
                <string>{616,616}</string>
                <key>textureRect</key>
                <string>{{369,1},{380,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9441_rd2_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{418,214}</string>
                <key>spriteSourceSize</key>
                <string>{616,616}</string>
                <key>textureRect</key>
                <string>{{303,395},{418,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9441_rd2_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,39}</string>
                <key>spriteSize</key>
                <string>{372,226}</string>
                <key>spriteSourceSize</key>
                <string>{616,616}</string>
                <key>textureRect</key>
                <string>{{1,611},{372,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9441_rd2_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,27}</string>
                <key>spriteSize</key>
                <string>{350,238}</string>
                <key>spriteSourceSize</key>
                <string>{616,616}</string>
                <key>textureRect</key>
                <string>{{375,611},{350,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9441_rd2_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,42}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{616,616}</string>
                <key>textureRect</key>
                <string>{{1,381},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9441_rd2_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,60}</string>
                <key>spriteSize</key>
                <string>{302,206}</string>
                <key>spriteSourceSize</key>
                <string>{616,616}</string>
                <key>textureRect</key>
                <string>{{339,187},{302,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_b.png</string>
            <key>size</key>
            <string>{850,850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0672ff382d49f718c1a6db37685f013:d7b87ccbc031df933e2e3d8ec9c45ced:6906f11401650d27911352756de3c435$</string>
            <key>textureFileName</key>
            <string>run_1_b.png</string>
        </dict>
    </dict>
</plist>
