<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd2_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,72}</string>
                <key>spriteSize</key>
                <string>{228,244}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{257,1},{228,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd2_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,60}</string>
                <key>spriteSize</key>
                <string>{194,258}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{477,253},{194,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd2_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,61}</string>
                <key>spriteSize</key>
                <string>{204,250}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{487,1},{204,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd2_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,58}</string>
                <key>spriteSize</key>
                <string>{230,246}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{1,245},{230,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd2_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,59}</string>
                <key>spriteSize</key>
                <string>{240,220}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{235,477},{240,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd2_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,59}</string>
                <key>spriteSize</key>
                <string>{232,212}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{1,493},{232,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd2_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,62}</string>
                <key>spriteSize</key>
                <string>{240,228}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{233,247},{240,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9441_rd2_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,74}</string>
                <key>spriteSize</key>
                <string>{254,242}</string>
                <key>spriteSourceSize</key>
                <string>{574,574}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_b.png</string>
            <key>size</key>
            <string>{706,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8db1996b53a546f96d76eb8ca0894a2b:6c4e61685580c93b69f49634b526d376:968c0e4293938d4ae810d463b228e48c$</string>
            <key>textureFileName</key>
            <string>run_3_b.png</string>
        </dict>
    </dict>
</plist>
