<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd2_ride_ride_9441_rd2_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,74}</string>
                <key>spriteSize</key>
                <string>{354,324}</string>
                <key>spriteSourceSize</key>
                <string>{672,672}</string>
                <key>textureRect</key>
                <string>{{1,1},{354,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9441_rd2_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,74}</string>
                <key>spriteSize</key>
                <string>{352,324}</string>
                <key>spriteSourceSize</key>
                <string>{672,672}</string>
                <key>textureRect</key>
                <string>{{357,1},{352,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9441_rd2_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,74}</string>
                <key>spriteSize</key>
                <string>{342,324}</string>
                <key>spriteSourceSize</key>
                <string>{672,672}</string>
                <key>textureRect</key>
                <string>{{667,655},{342,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9441_rd2_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,76}</string>
                <key>spriteSize</key>
                <string>{330,328}</string>
                <key>spriteSourceSize</key>
                <string>{672,672}</string>
                <key>textureRect</key>
                <string>{{333,327},{330,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9441_rd2_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,78}</string>
                <key>spriteSize</key>
                <string>{324,332}</string>
                <key>spriteSourceSize</key>
                <string>{672,672}</string>
                <key>textureRect</key>
                <string>{{1,665},{324,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9441_rd2_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,80}</string>
                <key>spriteSize</key>
                <string>{330,336}</string>
                <key>spriteSourceSize</key>
                <string>{672,672}</string>
                <key>textureRect</key>
                <string>{{1,327},{330,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9441_rd2_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,76}</string>
                <key>spriteSize</key>
                <string>{338,328}</string>
                <key>spriteSourceSize</key>
                <string>{672,672}</string>
                <key>textureRect</key>
                <string>{{327,665},{338,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9441_rd2_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,75}</string>
                <key>spriteSize</key>
                <string>{344,326}</string>
                <key>spriteSourceSize</key>
                <string>{672,672}</string>
                <key>textureRect</key>
                <string>{{665,327},{344,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_b.png</string>
            <key>size</key>
            <string>{1010,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be660826a65979a1dd343aa40119cdc6:8fb4fcfcc1988f57870f02805c88299b:f4a3be5acebfee7c879e96700b9b8f6a$</string>
            <key>textureFileName</key>
            <string>stand_1_b.png</string>
        </dict>
    </dict>
</plist>
