<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd2_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,57}</string>
                <key>spriteSize</key>
                <string>{241,243}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{1,244},{241,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd2_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,56}</string>
                <key>spriteSize</key>
                <string>{241,243}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{1,489},{241,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd2_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,56}</string>
                <key>spriteSize</key>
                <string>{243,239}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{489,244},{243,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd2_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,55}</string>
                <key>spriteSize</key>
                <string>{243,239}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{489,485},{243,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd2_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,56}</string>
                <key>spriteSize</key>
                <string>{245,241}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{1,1},{245,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd2_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,56}</string>
                <key>spriteSize</key>
                <string>{245,241}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{248,1},{245,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd2_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,57}</string>
                <key>spriteSize</key>
                <string>{243,241}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{244,244},{243,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd2_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,58}</string>
                <key>spriteSize</key>
                <string>{241,243}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{244,487},{241,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_b.png</string>
            <key>size</key>
            <string>{733,733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f69bb27bd476d0cdc538acd71b93013:d8d72331c8c7ee0c397946429c11d89b:b763bf2a2b4c09ea147574fb795a436b$</string>
            <key>textureFileName</key>
            <string>stand_3_b.png</string>
        </dict>
    </dict>
</plist>
