<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd1_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-30}</string>
                <key>spriteSize</key>
                <string>{295,193}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{296,1},{295,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd1_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-32}</string>
                <key>spriteSize</key>
                <string>{293,195}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd1_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-36}</string>
                <key>spriteSize</key>
                <string>{293,191}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{296,196},{293,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd1_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-36}</string>
                <key>spriteSize</key>
                <string>{279,183}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{288,389},{279,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd1_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-35}</string>
                <key>spriteSize</key>
                <string>{275,177}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{1,574},{275,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd1_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-30}</string>
                <key>spriteSize</key>
                <string>{277,173}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{278,574},{277,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd1_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-28}</string>
                <key>spriteSize</key>
                <string>{285,177}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{1,395},{285,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9441_rd1_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-32}</string>
                <key>spriteSize</key>
                <string>{285,195}</string>
                <key>spriteSourceSize</key>
                <string>{567,567}</string>
                <key>textureRect</key>
                <string>{{1,198},{285,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_f.png</string>
            <key>size</key>
            <string>{752,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3063d36e2dfe74831d50cb02f211962c:eef06e39903014e9639a0dafd9e51fee:6dd2131498e5e789931da276e27f62e8$</string>
            <key>textureFileName</key>
            <string>stand_3_f.png</string>
        </dict>
    </dict>
</plist>
