<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd1_ride_ride_9441_rd1_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,0}</string>
                <key>spriteSize</key>
                <string>{294,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{601,447},{294,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1_ride_ride_9441_rd1_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,1}</string>
                <key>spriteSize</key>
                <string>{296,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{601,223},{296,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1_ride_ride_9441_rd1_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,1}</string>
                <key>spriteSize</key>
                <string>{298,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{303,669},{298,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1_ride_ride_9441_rd1_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,1}</string>
                <key>spriteSize</key>
                <string>{300,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{299,317},{300,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1_ride_ride_9441_rd1_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,0}</string>
                <key>spriteSize</key>
                <string>{302,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{305,1},{302,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1_ride_ride_9441_rd1_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,47}</string>
                <key>spriteSize</key>
                <string>{302,314}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{302,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1_ride_ride_9441_rd1_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,6}</string>
                <key>spriteSize</key>
                <string>{300,232}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,557},{300,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1_ride_ride_9441_rd1_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,9}</string>
                <key>spriteSize</key>
                <string>{296,238}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,317},{296,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_f.png</string>
            <key>size</key>
            <string>{898,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55b73c75df9664f09163e6c3605d84a4:73c5dce9012f7c4c69aae85c9f494edc:7a68ce09e50d27178ff0ad295a7e4ff3$</string>
            <key>textureFileName</key>
            <string>stand_1_f.png</string>
        </dict>
    </dict>
</plist>
