<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_rd1_ride_ride_9141_rd1_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{158,152}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,163},{158,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_1_rd1_ride_ride_9141_rd1_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,166}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,159},{166,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_1_rd1_ride_ride_9141_rd1_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{166,156}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,168},{166,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_1_rd1_ride_ride_9141_rd1_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{166,160}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,162},{166,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_1_rd1_ride_ride_9141_rd1_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,338},{166,156}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,160},{166,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_1_rd1_ride_ride_9141_rd1_run_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,170},{160,152}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,158},{160,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_1_rd1_ride_ride_9141_rd1_run_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{156,150}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,158},{156,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_1_rd1_ride_ride_9141_rd1_run_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,154},{154,152}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,158},{154,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_1_f.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec382c6139e0b60f2c22d8caea991015:1/1$</string>
            <key>textureFileName</key>
            <string>run_1_f.png</string>
        </dict>
    </dict>
</plist>
