<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_rd2_ride_ride_9141_rd2_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,148},{132,180}}</string>
                <key>offset</key>
                <string>{-73,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,117},{132,180}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>run_1_rd2_ride_ride_9141_rd2_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,186},{136,176}}</string>
                <key>offset</key>
                <string>{-75,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,120},{136,176}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>run_1_rd2_ride_ride_9141_rd2_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{144,182}}</string>
                <key>offset</key>
                <string>{-79,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,114},{144,182}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>run_1_rd2_ride_ride_9141_rd2_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{142,194}}</string>
                <key>offset</key>
                <string>{-80,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,98},{142,194}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>run_1_rd2_ride_ride_9141_rd2_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,198}}</string>
                <key>offset</key>
                <string>{-80,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{136,198}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>run_1_rd2_ride_ride_9141_rd2_run_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{144,182}}</string>
                <key>offset</key>
                <string>{-85,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,110},{144,182}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>run_1_rd2_ride_ride_9141_rd2_run_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,364},{146,178}}</string>
                <key>offset</key>
                <string>{-86,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,116},{146,178}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>run_1_rd2_ride_ride_9141_rd2_run_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,282},{142,176}}</string>
                <key>offset</key>
                <string>{-81,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,119},{142,176}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_1_b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49adddae47c567b1030442682b76608e:1/1$</string>
            <key>textureFileName</key>
            <string>run_1_b.png</string>
        </dict>
    </dict>
</plist>
