<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_rd1_ride_ride_9141_rd1_stand_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{160,168}}</string>
                <key>offset</key>
                <string>{53,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,170},{160,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_rd1_ride_ride_9141_rd1_stand_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,172},{148,168}}</string>
                <key>offset</key>
                <string>{49,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,170},{148,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_rd1_ride_ride_9141_rd1_stand_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,342},{144,168}}</string>
                <key>offset</key>
                <string>{46,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,170},{144,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_rd1_ride_ride_9141_rd1_stand_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,342},{150,168}}</string>
                <key>offset</key>
                <string>{48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,170},{150,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_rd1_ride_ride_9141_rd1_stand_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{158,168}}</string>
                <key>offset</key>
                <string>{51,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,170},{158,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_rd1_ride_ride_9141_rd1_stand_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{168,168}}</string>
                <key>offset</key>
                <string>{54,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,170},{168,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_rd1_ride_ride_9141_rd1_stand_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,168}}</string>
                <key>offset</key>
                <string>{58,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,170},{174,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_rd1_ride_ride_9141_rd1_stand_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{170,168}}</string>
                <key>offset</key>
                <string>{57,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,170},{170,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_3_f.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2bc03cdac7c0fa8f6cc248da0479efc:1/1$</string>
            <key>textureFileName</key>
            <string>stand_3_f.png</string>
        </dict>
    </dict>
</plist>
