<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd1_ride_ride_9141_rd1_stand_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{156,152}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,165},{156,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd1_ride_ride_9141_rd1_stand_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,156},{156,152}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,165},{156,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd1_ride_ride_9141_rd1_stand_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,306},{156,152}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,165},{156,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd1_ride_ride_9141_rd1_stand_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,310},{156,150}}</string>
                <key>offset</key>
                <string>{27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,167},{156,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd1_ride_ride_9141_rd1_stand_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{158,150}}</string>
                <key>offset</key>
                <string>{27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,167},{158,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd1_ride_ride_9141_rd1_stand_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,152}}</string>
                <key>offset</key>
                <string>{27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,165},{160,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd1_ride_ride_9141_rd1_stand_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,154},{158,150}}</string>
                <key>offset</key>
                <string>{28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,166},{158,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd1_ride_ride_9141_rd1_stand_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{158,152}}</string>
                <key>offset</key>
                <string>{26,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,164},{158,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1_f.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a5dc4084640162c540d02d38366ca09:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1_f.png</string>
        </dict>
    </dict>
</plist>
