<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd2_ride_ride_9141_rd2_stand_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,178},{144,174}}</string>
                <key>offset</key>
                <string>{-71,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,125},{144,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd2_ride_ride_9141_rd2_stand_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{132,172}}</string>
                <key>offset</key>
                <string>{-66,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,126},{132,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd2_ride_ride_9141_rd2_stand_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{128,170}}</string>
                <key>offset</key>
                <string>{-64,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,127},{128,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd2_ride_ride_9141_rd2_stand_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,174},{138,168}}</string>
                <key>offset</key>
                <string>{-68,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,128},{138,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd2_ride_ride_9141_rd2_stand_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,354},{142,168}}</string>
                <key>offset</key>
                <string>{-69,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{142,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd2_ride_ride_9141_rd2_stand_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{152,170}}</string>
                <key>offset</key>
                <string>{-73,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,127},{152,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd2_ride_ride_9141_rd2_stand_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,174}}</string>
                <key>offset</key>
                <string>{-77,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{158,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_rd2_ride_ride_9141_rd2_stand_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{154,174}}</string>
                <key>offset</key>
                <string>{-76,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,126},{154,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1_b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6928da093eb5b28c8a122bffd97c527d:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1_b.png</string>
        </dict>
    </dict>
</plist>
