<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,118},{38,102}}</string>
                <key>offset</key>
                <string>{-34,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,107},{38,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,112}}</string>
                <key>offset</key>
                <string>{-39,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,102},{44,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,118},{44,102}}</string>
                <key>offset</key>
                <string>{-40,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,110},{44,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{60,110}}</string>
                <key>offset</key>
                <string>{-50,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,104},{60,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{64,110}}</string>
                <key>offset</key>
                <string>{-52,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,105},{64,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{60,106}}</string>
                <key>offset</key>
                <string>{-50,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,109},{60,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{70,98}}</string>
                <key>offset</key>
                <string>{-54,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,117},{70,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,258},{68,92}}</string>
                <key>offset</key>
                <string>{-53,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,123},{68,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{66,94}}</string>
                <key>offset</key>
                <string>{-53,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,122},{66,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,200},{56,98}}</string>
                <key>offset</key>
                <string>{-47,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,116},{56,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,68},{48,110}}</string>
                <key>offset</key>
                <string>{-44,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,106},{48,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5013_stand_8_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,164},{34,100}}</string>
                <key>offset</key>
                <string>{-38,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,107},{34,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_8_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f665a1973d97016e031cb53b41091a2e:1/1$</string>
            <key>textureFileName</key>
            <string>stand_8_part2.png</string>
        </dict>
    </dict>
</plist>
