<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{96,90}}</string>
                <key>offset</key>
                <string>{-52,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,125},{96,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,224},{88,98}}</string>
                <key>offset</key>
                <string>{-48,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,116},{88,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,408},{96,98}}</string>
                <key>offset</key>
                <string>{-52,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,114},{96,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{84,92}}</string>
                <key>offset</key>
                <string>{-46,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,117},{84,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,72},{72,96}}</string>
                <key>offset</key>
                <string>{-41,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,112},{72,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{72,106}}</string>
                <key>offset</key>
                <string>{-41,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,102},{72,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,118}}</string>
                <key>offset</key>
                <string>{-38,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,92},{68,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{68,106}}</string>
                <key>offset</key>
                <string>{-37,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,101},{68,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{74,102}}</string>
                <key>offset</key>
                <string>{-42,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,106},{74,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,146},{76,102}}</string>
                <key>offset</key>
                <string>{-43,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,110},{76,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,314},{92,98}}</string>
                <key>offset</key>
                <string>{-49,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,115},{92,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5013_stand_5_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{94,94}}</string>
                <key>offset</key>
                <string>{-51,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,120},{94,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_5_part1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6b88c30f32ca60f5b77e7b16e2faa9d:1/1$</string>
            <key>textureFileName</key>
            <string>stand_5_part1.png</string>
        </dict>
    </dict>
</plist>
