<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{74,102}}</string>
                <key>offset</key>
                <string>{6,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,106},{74,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{74,100}}</string>
                <key>offset</key>
                <string>{4,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,107},{74,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,90},{70,104}}</string>
                <key>offset</key>
                <string>{3,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,105},{70,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,266},{58,100}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,104},{58,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,162},{54,104}}</string>
                <key>offset</key>
                <string>{-8,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,97},{54,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,44},{44,108}}</string>
                <key>offset</key>
                <string>{-12,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,93},{44,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{40,114}}</string>
                <key>offset</key>
                <string>{-16,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,90},{40,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,218},{46,102}}</string>
                <key>offset</key>
                <string>{-15,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,98},{46,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,114}}</string>
                <key>offset</key>
                <string>{-9,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,90},{44,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,266},{46,100}}</string>
                <key>offset</key>
                <string>{-4,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,103},{46,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{64,106}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,102},{64,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5013_stand_1_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{70,104}}</string>
                <key>offset</key>
                <string>{7,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,103},{70,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ce47737f03f5becbcd10ac1019dde60:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1_part2.png</string>
        </dict>
    </dict>
</plist>
