<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,210},{42,74}}</string>
                <key>offset</key>
                <string>{-40,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,177},{42,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{42,72}}</string>
                <key>offset</key>
                <string>{-39,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,176},{42,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,192},{48,74}}</string>
                <key>offset</key>
                <string>{-42,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,170},{48,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,126},{64,76}}</string>
                <key>offset</key>
                <string>{-52,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,168},{64,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{68,80}}</string>
                <key>offset</key>
                <string>{-53,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,162},{68,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{66,80}}</string>
                <key>offset</key>
                <string>{-53,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,161},{66,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,84},{74,82}}</string>
                <key>offset</key>
                <string>{-59,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,158},{74,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{80,88}}</string>
                <key>offset</key>
                <string>{-57,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,155},{80,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,90}}</string>
                <key>offset</key>
                <string>{-55,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,153},{76,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{66,88}}</string>
                <key>offset</key>
                <string>{-49,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,163},{66,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{48,80}}</string>
                <key>offset</key>
                <string>{-43,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,171},{48,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5013_stand_8_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,84},{40,78}}</string>
                <key>offset</key>
                <string>{-37,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,171},{40,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_8_part1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e43edd7f3731359e813e496c51a25a5c:1/1$</string>
            <key>textureFileName</key>
            <string>stand_8_part1.png</string>
        </dict>
    </dict>
</plist>
