<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{88,100}}</string>
                <key>offset</key>
                <string>{38,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,119},{88,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,92},{92,94}}</string>
                <key>offset</key>
                <string>{37,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,120},{92,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,100}}</string>
                <key>offset</key>
                <string>{38,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,112},{90,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{86,98}}</string>
                <key>offset</key>
                <string>{35,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,112},{86,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,378},{80,98}}</string>
                <key>offset</key>
                <string>{33,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,110},{80,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{78,104}}</string>
                <key>offset</key>
                <string>{32,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,104},{78,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{74,112}}</string>
                <key>offset</key>
                <string>{32,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,98},{74,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,374},{72,106}}</string>
                <key>offset</key>
                <string>{31,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,102},{72,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,274},{78,102}}</string>
                <key>offset</key>
                <string>{29,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,107},{78,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,274},{80,98}}</string>
                <key>offset</key>
                <string>{34,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,113},{80,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,186},{86,98}}</string>
                <key>offset</key>
                <string>{37,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,116},{86,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5013_stand_5_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{88,96}}</string>
                <key>offset</key>
                <string>{38,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,120},{88,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_5_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5952d7612d55a929385cac9b8acd157f:1/1$</string>
            <key>textureFileName</key>
            <string>stand_5_part2.png</string>
        </dict>
    </dict>
</plist>
