<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_17_sh_ride_shape_3036_sh_stand_1_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,34}</string>
                <key>spriteSize</key>
                <string>{114,126}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{119,129},{114,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_17_sh_ride_shape_3036_sh_stand_1_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,35}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{237,1},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_17_sh_ride_shape_3036_sh_stand_1_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,35}</string>
                <key>spriteSize</key>
                <string>{116,128}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_17_sh_ride_shape_3036_sh_stand_1_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,35}</string>
                <key>spriteSize</key>
                <string>{116,128}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{1,131},{116,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_17_sh_ride_shape_3036_sh_stand_1_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,34}</string>
                <key>spriteSize</key>
                <string>{116,126}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{119,1},{116,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_17_sh_ride_shape_3036_sh_stand_1_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,34}</string>
                <key>spriteSize</key>
                <string>{114,126}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{119,257},{114,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_17_sh_ride_shape_3036_sh_stand_1_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,34}</string>
                <key>spriteSize</key>
                <string>{114,126}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{235,131},{114,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_17_sh_ride_shape_3036_sh_stand_1_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,34}</string>
                <key>spriteSize</key>
                <string>{114,126}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{235,259},{114,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1.png</string>
            <key>size</key>
            <string>{386,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d96936d6a3563ab630c558a5610a7a34:af25925ccfdc016ff617e7471b297ec1:0b965a9b2764de96d50c3e5fcae4ba7a$</string>
            <key>textureFileName</key>
            <string>stand_1.png</string>
        </dict>
    </dict>
</plist>
