<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_sh_ride_shape_3036_sh_stand_3_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,27}</string>
                <key>spriteSize</key>
                <string>{122,172}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{127,171},{122,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_3036_sh_stand_3_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,28}</string>
                <key>spriteSize</key>
                <string>{122,170}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{253,1},{122,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_3036_sh_stand_3_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,28}</string>
                <key>spriteSize</key>
                <string>{124,168}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_3036_sh_stand_3_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,27}</string>
                <key>spriteSize</key>
                <string>{124,168}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{127,1},{124,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_3036_sh_stand_3_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,26}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{377,1},{124,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_3036_sh_stand_3_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,25}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,171},{124,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_3036_sh_stand_3_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,25}</string>
                <key>spriteSize</key>
                <string>{124,172}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{251,173},{124,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_3036_sh_stand_3_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,26}</string>
                <key>spriteSize</key>
                <string>{124,174}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{377,173},{124,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3.png</string>
            <key>size</key>
            <string>{502,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7046ade8dd9c864ffa6cb4cf1e0056b:11a235f30c0a4c7c4188928de3b595e8:8c829cf17ee629810ae2fddba62aced7$</string>
            <key>textureFileName</key>
            <string>stand_3.png</string>
        </dict>
    </dict>
</plist>
