<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd1_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,3}</string>
                <key>spriteSize</key>
                <string>{208,146}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd1_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,5}</string>
                <key>spriteSize</key>
                <string>{166,154}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{337,315},{166,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd1_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,3}</string>
                <key>spriteSize</key>
                <string>{162,156}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{343,157},{162,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd1_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-1}</string>
                <key>spriteSize</key>
                <string>{174,158}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,149},{174,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd1_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-1}</string>
                <key>spriteSize</key>
                <string>{176,156}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,309},{176,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd1_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,0}</string>
                <key>spriteSize</key>
                <string>{188,154}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{211,1},{188,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd1_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,0}</string>
                <key>spriteSize</key>
                <string>{164,150}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{177,157},{164,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd1_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-4}</string>
                <key>spriteSize</key>
                <string>{156,158}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{179,309},{156,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_f.png</string>
            <key>size</key>
            <string>{506,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac1afbda9ce8dffbe43646c06dbb7dc8:f6f0856f18920c9f9629caae2bf3a9a1:0dcf570fafbd64dd9fee7532522305f3$</string>
            <key>textureFileName</key>
            <string>run_1_f.png</string>
        </dict>
    </dict>
</plist>
