<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-6}</string>
                <key>spriteSize</key>
                <string>{244,184}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,351},{244,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{228,180}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{395,179},{228,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,6}</string>
                <key>spriteSize</key>
                <string>{202,178}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,165},{202,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,11}</string>
                <key>spriteSize</key>
                <string>{188,180}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{205,169},{188,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,19}</string>
                <key>spriteSize</key>
                <string>{210,176}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{397,1},{210,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,12}</string>
                <key>spriteSize</key>
                <string>{184,166}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{211,1},{184,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,8}</string>
                <key>spriteSize</key>
                <string>{208,162}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-21}</string>
                <key>spriteSize</key>
                <string>{228,210}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{247,361},{228,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_b.png</string>
            <key>size</key>
            <string>{624,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:166166d0b293bf688deb70bbed3e0b2c:34e8c1102e2e26fce545ddb56fdd15ea:6906f11401650d27911352756de3c435$</string>
            <key>textureFileName</key>
            <string>run_1_b.png</string>
        </dict>
    </dict>
</plist>
