<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,91}</string>
                <key>spriteSize</key>
                <string>{78,50}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{173,73},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,83}</string>
                <key>spriteSize</key>
                <string>{88,66}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,75},{88,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,80}</string>
                <key>spriteSize</key>
                <string>{84,66}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{83,147},{84,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,78}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{169,147},{82,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,81}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{89,1},{86,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,90}</string>
                <key>spriteSize</key>
                <string>{86,72}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,94}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{91,73},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9411_rd2_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,93}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,143},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_f.png</string>
            <key>size</key>
            <string>{252,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:225e1d472b81a0ee2540ff032ac45856:b50e5db1d123f58af6763c5b5f50e9ba:106d3046d0e71676a4432022aa46d34d$</string>
            <key>textureFileName</key>
            <string>run_3_f.png</string>
        </dict>
    </dict>
</plist>
