<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_13_rd1rd2_ride_ride_9411_rd1_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{224,176}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{471,509},{224,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9411_rd1_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{236,182}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,357},{236,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9411_rd1_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{244,186}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,169},{244,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9411_rd1_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,7}</string>
                <key>spriteSize</key>
                <string>{260,170}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{273,163},{260,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9411_rd1_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,10}</string>
                <key>spriteSize</key>
                <string>{270,160}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9411_rd1_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,6}</string>
                <key>spriteSize</key>
                <string>{270,166}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9411_rd1_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{254,172}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{247,335},{254,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9411_rd1_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{230,178}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{239,509},{230,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_b.png</string>
            <key>size</key>
            <string>{696,696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78cf59e851296feaf1820e579c7d54f8:ff1488528e4e4d697f70fbaa78b552fd:b763bf2a2b4c09ea147574fb795a436b$</string>
            <key>textureFileName</key>
            <string>stand_3_b.png</string>
        </dict>
    </dict>
</plist>
