<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{76,56}}</string>
                <key>offset</key>
                <string>{40,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,187},{76,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,112},{78,54}}</string>
                <key>offset</key>
                <string>{40,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,187},{78,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,192},{78,54}}</string>
                <key>offset</key>
                <string>{41,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,186},{78,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{80,54}}</string>
                <key>offset</key>
                <string>{41,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,186},{80,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{80,54}}</string>
                <key>offset</key>
                <string>{43,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,186},{80,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{78,54}}</string>
                <key>offset</key>
                <string>{42,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,186},{78,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,192},{76,54}}</string>
                <key>offset</key>
                <string>{42,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,186},{76,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{80,54}}</string>
                <key>offset</key>
                <string>{42,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,186},{80,54}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{80,52}}</string>
                <key>offset</key>
                <string>{44,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,187},{80,52}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,52}}</string>
                <key>offset</key>
                <string>{43,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,186},{82,52}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,58},{74,50}}</string>
                <key>offset</key>
                <string>{40,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,187},{74,50}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5002_stand_7_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,58},{74,52}}</string>
                <key>offset</key>
                <string>{40,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,186},{74,52}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_7_part1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:311ce4397bc8ce0bce637e85fc960344:1/1$</string>
            <key>textureFileName</key>
            <string>stand_7_part1.png</string>
        </dict>
    </dict>
</plist>
