<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{72,56}}</string>
                <key>offset</key>
                <string>{-49,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,143},{72,56}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{72,56}}</string>
                <key>offset</key>
                <string>{-49,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,143},{72,56}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{72,60}}</string>
                <key>offset</key>
                <string>{-49,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,145},{72,60}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,120},{72,60}}</string>
                <key>offset</key>
                <string>{-49,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,145},{72,60}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,60},{74,58}}</string>
                <key>offset</key>
                <string>{-50,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,145},{74,58}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,54}}</string>
                <key>offset</key>
                <string>{-51,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,145},{76,54}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{74,56}}</string>
                <key>offset</key>
                <string>{-50,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,142},{74,56}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,60},{70,58}}</string>
                <key>offset</key>
                <string>{-48,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,139},{70,58}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{72,62}}</string>
                <key>offset</key>
                <string>{-49,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,135},{72,62}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,182},{72,68}}</string>
                <key>offset</key>
                <string>{-49,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,129},{72,68}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,182},{70,66}}</string>
                <key>offset</key>
                <string>{-48,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,133},{70,66}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>stand_5_part1_wing_5002_stand_5_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,120},{70,60}}</string>
                <key>offset</key>
                <string>{-48,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,138},{70,60}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_5_part1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84cf68ac951f760f06d823e869ef2b23:1/1$</string>
            <key>textureFileName</key>
            <string>stand_5_part1.png</string>
        </dict>
    </dict>
</plist>
