<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{56,76}}</string>
                <key>offset</key>
                <string>{-56,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,136},{56,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{58,78}}</string>
                <key>offset</key>
                <string>{-57,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,135},{58,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{58,76}}</string>
                <key>offset</key>
                <string>{-57,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,134},{58,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{60,80}}</string>
                <key>offset</key>
                <string>{-58,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,130},{60,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,82}}</string>
                <key>offset</key>
                <string>{-58,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,128},{62,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,80},{58,76}}</string>
                <key>offset</key>
                <string>{-58,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,134},{58,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,82},{60,76}}</string>
                <key>offset</key>
                <string>{-59,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,134},{60,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,86},{50,80}}</string>
                <key>offset</key>
                <string>{-54,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,131},{50,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{52,82}}</string>
                <key>offset</key>
                <string>{-55,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,129},{52,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,168},{54,78}}</string>
                <key>offset</key>
                <string>{-55,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,131},{54,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,140},{56,74}}</string>
                <key>offset</key>
                <string>{-55,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,136},{56,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5002_stand_8_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,198},{56,74}}</string>
                <key>offset</key>
                <string>{-55,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,136},{56,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_8_part2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f66bc3d77a39656942fc4187c8f32a4c:1/1$</string>
            <key>textureFileName</key>
            <string>stand_8_part2.png</string>
        </dict>
    </dict>
</plist>
