<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,76},{76,54}}</string>
                <key>offset</key>
                <string>{41,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,136},{76,54}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,152},{76,52}}</string>
                <key>offset</key>
                <string>{42,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,138},{76,52}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,154},{78,52}}</string>
                <key>offset</key>
                <string>{42,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,138},{78,52}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,76},{74,52}}</string>
                <key>offset</key>
                <string>{40,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,138},{74,52}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,76},{74,54}}</string>
                <key>offset</key>
                <string>{40,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,136},{74,54}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{72,52}}</string>
                <key>offset</key>
                <string>{40,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,137},{72,52}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{72,54}}</string>
                <key>offset</key>
                <string>{39,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,136},{72,54}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{72,58}}</string>
                <key>offset</key>
                <string>{39,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,132},{72,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,158},{74,58}}</string>
                <key>offset</key>
                <string>{40,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,131},{74,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,78}}</string>
                <key>offset</key>
                <string>{40,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,127},{74,78}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{74,74}}</string>
                <key>offset</key>
                <string>{41,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,130},{74,74}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5002_stand_5_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{74,60}}</string>
                <key>offset</key>
                <string>{41,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,133},{74,60}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_5_part2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b87026242d9987eeb73051b4d82615aa:1/1$</string>
            <key>textureFileName</key>
            <string>stand_5_part2.png</string>
        </dict>
    </dict>
</plist>
