<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,58},{76,58}}</string>
                <key>offset</key>
                <string>{51,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,148},{76,58}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,54}}</string>
                <key>offset</key>
                <string>{51,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,151},{78,54}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{78,56}}</string>
                <key>offset</key>
                <string>{51,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,149},{78,56}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{76,60}}</string>
                <key>offset</key>
                <string>{51,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,145},{76,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,122},{78,60}}</string>
                <key>offset</key>
                <string>{50,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,147},{78,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,60},{80,60}}</string>
                <key>offset</key>
                <string>{51,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,148},{80,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{70,60}}</string>
                <key>offset</key>
                <string>{50,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,148},{70,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,118},{74,60}}</string>
                <key>offset</key>
                <string>{49,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,147},{74,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{76,56}}</string>
                <key>offset</key>
                <string>{50,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,150},{76,56}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,184},{70,70}}</string>
                <key>offset</key>
                <string>{52,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,148},{70,70}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,180},{74,64}}</string>
                <key>offset</key>
                <string>{50,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,149},{74,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_3_part2_wing_5002_stand_3_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{74,54}}</string>
                <key>offset</key>
                <string>{51,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,150},{74,54}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_3_part2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5e5cfc438393a5c30f7cd6788eef716:1/1$</string>
            <key>textureFileName</key>
            <string>stand_3_part2.png</string>
        </dict>
    </dict>
</plist>
