<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_rd1rd2rd3_ride_ride_9211_rd3_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,6}</string>
                <key>spriteSize</key>
                <string>{142,66}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,113},{142,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2rd3_ride_ride_9211_rd3_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,4}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{149,71},{134,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2rd3_ride_ride_9211_rd3_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,3}</string>
                <key>spriteSize</key>
                <string>{130,68}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{153,1},{130,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2rd3_ride_ride_9211_rd3_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,3}</string>
                <key>spriteSize</key>
                <string>{130,62}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{145,199},{130,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2rd3_ride_ride_9211_rd3_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,7}</string>
                <key>spriteSize</key>
                <string>{134,56}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{145,141},{134,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2rd3_ride_ride_9211_rd3_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,9}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,181},{142,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2rd3_ride_ride_9211_rd3_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,9}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,59},{146,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2rd3_ride_ride_9211_rd3_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,9}</string>
                <key>spriteSize</key>
                <string>{150,56}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_f1.png</string>
            <key>size</key>
            <string>{284,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38175b6bd82cc0bbd8804d728a47e35c:6885cd2d79bdb03f93f8dc387aef2c36:2f6fce31a6c97f914e26a0b98f39d952$</string>
            <key>textureFileName</key>
            <string>stand_3_f1.png</string>
        </dict>
    </dict>
</plist>
