<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd1rd2rd3_ride_ride_9211_rd2_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,112}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,195},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2rd3_ride_ride_9211_rd2_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,112}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{117,195},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2rd3_ride_ride_9211_rd2_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,110}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{119,1},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2rd3_ride_ride_9211_rd2_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,108}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{233,195},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2rd3_ride_ride_9211_rd2_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,107}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{235,1},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2rd3_ride_ride_9211_rd2_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,108}</string>
                <key>spriteSize</key>
                <string>{116,192}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2rd3_ride_ride_9211_rd2_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,111}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{349,195},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_b.png</string>
            <key>size</key>
            <string>{464,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90310b0598c6bef0a3ee68baa70f4c4b:44e921ec4413751d4ff70bc6621de32f:f4a3be5acebfee7c879e96700b9b8f6a$</string>
            <key>textureFileName</key>
            <string>stand_1_b.png</string>
        </dict>
    </dict>
</plist>
