<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_ride_9241_rd1_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-34}</string>
                <key>spriteSize</key>
                <string>{274,192}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{301,245},{274,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-12}</string>
                <key>spriteSize</key>
                <string>{284,194}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1,461},{284,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-7}</string>
                <key>spriteSize</key>
                <string>{298,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1,253},{298,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,5}</string>
                <key>spriteSize</key>
                <string>{286,176}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{301,439},{286,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-4}</string>
                <key>spriteSize</key>
                <string>{274,188}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{287,617},{274,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-8}</string>
                <key>spriteSize</key>
                <string>{262,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{543,1},{262,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-33}</string>
                <key>spriteSize</key>
                <string>{266,250}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-27}</string>
                <key>spriteSize</key>
                <string>{272,242}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{269,1},{272,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_f.png</string>
            <key>size</key>
            <string>{806,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a3107c2f9cfe105fe223e49418ddbea:1cd59c04064c675bae9249422a3d5e05:7a68ce09e50d27178ff0ad295a7e4ff3$</string>
            <key>textureFileName</key>
            <string>stand_1_f.png</string>
        </dict>
    </dict>
</plist>
