<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_rd2_ride_ride_9241_rd2_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-7}</string>
                <key>spriteSize</key>
                <string>{320,300}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{331,373},{320,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd2_ride_ride_9241_rd2_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,8}</string>
                <key>spriteSize</key>
                <string>{334,328}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{659,1},{334,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd2_ride_ride_9241_rd2_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,26}</string>
                <key>spriteSize</key>
                <string>{328,406}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{328,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd2_ride_ride_9241_rd2_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,22}</string>
                <key>spriteSize</key>
                <string>{322,402}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,409},{322,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd2_ride_ride_9241_rd2_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,12}</string>
                <key>spriteSize</key>
                <string>{326,370}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{331,1},{326,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd2_ride_ride_9241_rd2_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-5}</string>
                <key>spriteSize</key>
                <string>{326,316}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{659,331},{326,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd2_ride_ride_9241_rd2_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-15}</string>
                <key>spriteSize</key>
                <string>{340,306}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{325,675},{340,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd2_ride_ride_9241_rd2_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-16}</string>
                <key>spriteSize</key>
                <string>{320,306}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{667,649},{320,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_b.png</string>
            <key>size</key>
            <string>{994,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:246362732d9c9262704d4bab0275eaf2:55faaa6ea2ff5db4b0340526bd35c23c:b763bf2a2b4c09ea147574fb795a436b$</string>
            <key>textureFileName</key>
            <string>stand_3_b.png</string>
        </dict>
    </dict>
</plist>
