<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_ride_9241_rd1_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-8}</string>
                <key>spriteSize</key>
                <string>{210,222}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{241,427},{210,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,2}</string>
                <key>spriteSize</key>
                <string>{238,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1,451},{238,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,12}</string>
                <key>spriteSize</key>
                <string>{228,180}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{219,245},{228,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,-16}</string>
                <key>spriteSize</key>
                <string>{198,240}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{453,1},{198,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,-6}</string>
                <key>spriteSize</key>
                <string>{242,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-118,-9}</string>
                <key>spriteSize</key>
                <string>{216,226}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1,223},{216,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-17}</string>
                <key>spriteSize</key>
                <string>{206,242}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{245,1},{206,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9241_rd1_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-10}</string>
                <key>spriteSize</key>
                <string>{208,226}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{453,243},{208,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_f.png</string>
            <key>size</key>
            <string>{662,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:781b2e53bec0e029f6ce3323ab0933ce:6ee7d72bb7cc980ffc893ed9ca1ebe72:6dd2131498e5e789931da276e27f62e8$</string>
            <key>textureFileName</key>
            <string>stand_3_f.png</string>
        </dict>
    </dict>
</plist>
