<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,110}}</string>
                <key>offset</key>
                <string>{16,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,109},{86,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{86,108}}</string>
                <key>offset</key>
                <string>{17,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,108},{86,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{88,108}}</string>
                <key>offset</key>
                <string>{17,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,106},{88,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{70,94}}</string>
                <key>offset</key>
                <string>{9,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,119},{70,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{74,94}}</string>
                <key>offset</key>
                <string>{11,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,119},{74,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,408},{74,94}}</string>
                <key>offset</key>
                <string>{11,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,119},{74,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,328},{78,96}}</string>
                <key>offset</key>
                <string>{12,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,118},{78,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{82,98}}</string>
                <key>offset</key>
                <string>{12,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,116},{82,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,240},{86,98}}</string>
                <key>offset</key>
                <string>{13,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,116},{86,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{88,98}}</string>
                <key>offset</key>
                <string>{16,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,116},{88,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,92},{76,100}}</string>
                <key>offset</key>
                <string>{11,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,113},{76,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5017_stand_1_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,170},{68,100}}</string>
                <key>offset</key>
                <string>{8,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,113},{68,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf5cabb1907e7ca7165ab55d178b80ca:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1_part2.png</string>
        </dict>
    </dict>
</plist>
