<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,314},{118,74}}</string>
                <key>offset</key>
                <string>{55,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,176},{118,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{120,78}}</string>
                <key>offset</key>
                <string>{56,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,175},{120,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{122,78}}</string>
                <key>offset</key>
                <string>{58,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,174},{122,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,76},{122,80}}</string>
                <key>offset</key>
                <string>{58,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,172},{122,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{116,76}}</string>
                <key>offset</key>
                <string>{55,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,176},{116,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,80}}</string>
                <key>offset</key>
                <string>{59,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,172},{126,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,232},{120,80}}</string>
                <key>offset</key>
                <string>{56,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,173},{120,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{118,74}}</string>
                <key>offset</key>
                <string>{55,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,180},{118,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,390},{118,72}}</string>
                <key>offset</key>
                <string>{56,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,179},{118,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,158},{122,72}}</string>
                <key>offset</key>
                <string>{58,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,179},{122,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,72}}</string>
                <key>offset</key>
                <string>{58,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,179},{124,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5017_stand_7_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{122,72}}</string>
                <key>offset</key>
                <string>{58,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,177},{122,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_7_part1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe1608142fd1990fa9bcf843996ca64f:1/1$</string>
            <key>textureFileName</key>
            <string>stand_7_part1.png</string>
        </dict>
    </dict>
</plist>
