<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,31}</string>
                <key>spriteSize</key>
                <string>{270,232}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{261,441},{270,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,34}</string>
                <key>spriteSize</key>
                <string>{258,226}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1,435},{258,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,42}</string>
                <key>spriteSize</key>
                <string>{256,212}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,43}</string>
                <key>spriteSize</key>
                <string>{250,214}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{259,1},{250,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,40}</string>
                <key>spriteSize</key>
                <string>{244,216}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{251,217},{244,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,37}</string>
                <key>spriteSize</key>
                <string>{246,214}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{511,1},{246,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,39}</string>
                <key>spriteSize</key>
                <string>{248,214}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1,215},{248,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,37}</string>
                <key>spriteSize</key>
                <string>{260,222}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{497,217},{260,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_b.png</string>
            <key>size</key>
            <string>{758,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f17c90052354fb9b8aed4bf31a24db8:3c147e305710c5d7d45f56774a077b2c:6906f11401650d27911352756de3c435$</string>
            <key>textureFileName</key>
            <string>run_1_b.png</string>
        </dict>
    </dict>
</plist>
