<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,47}</string>
                <key>spriteSize</key>
                <string>{270,230}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,42}</string>
                <key>spriteSize</key>
                <string>{258,240}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1,233},{258,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,38}</string>
                <key>spriteSize</key>
                <string>{254,248}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{501,485},{254,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,35}</string>
                <key>spriteSize</key>
                <string>{252,256}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1,475},{252,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,36}</string>
                <key>spriteSize</key>
                <string>{244,254}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{255,475},{244,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,39}</string>
                <key>spriteSize</key>
                <string>{246,246}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{511,237},{246,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,49}</string>
                <key>spriteSize</key>
                <string>{248,228}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{261,237},{248,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_rd1rd2_ride_ride_9121_rd2_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,45}</string>
                <key>spriteSize</key>
                <string>{262,234}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{273,1},{262,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_b.png</string>
            <key>size</key>
            <string>{758,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e5e08673c2d6edc0322643e18351f3:d3c8c22339b616053f78528489f2aca3:968c0e4293938d4ae810d463b228e48c$</string>
            <key>textureFileName</key>
            <string>run_3_b.png</string>
        </dict>
    </dict>
</plist>
