<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_13_rd1rd2_ride_ride_9121_rd1_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,143}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,57},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9121_rd1_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,143}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{49,57},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9121_rd1_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,144}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,103},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9121_rd1_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,144}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{49,103},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9121_rd1_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,144}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{111,1},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9121_rd1_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,143}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{95,57},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9121_rd1_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,143}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{95,103},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_rd1rd2_ride_ride_9121_rd1_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,147}</string>
                <key>spriteSize</key>
                <string>{108,54}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_f.png</string>
            <key>size</key>
            <string>{154,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aae58bee34a3e7237ae4d7fc3d8586a3:80b208fe34f4b3248604c1d033b73823:7a68ce09e50d27178ff0ad295a7e4ff3$</string>
            <key>textureFileName</key>
            <string>stand_1_f.png</string>
        </dict>
    </dict>
</plist>
