<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,94},{60,84}}</string>
                <key>offset</key>
                <string>{30,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,126},{60,84}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{62,58}}</string>
                <key>offset</key>
                <string>{29,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,133},{62,58}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{60,62}}</string>
                <key>offset</key>
                <string>{30,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,129},{60,62}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,182},{60,68}}</string>
                <key>offset</key>
                <string>{30,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,123},{60,68}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,64},{60,80}}</string>
                <key>offset</key>
                <string>{29,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,121},{60,80}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{60,84}}</string>
                <key>offset</key>
                <string>{29,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,119},{60,84}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,94},{50,86}}</string>
                <key>offset</key>
                <string>{25,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,119},{50,86}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,90}}</string>
                <key>offset</key>
                <string>{26,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,118},{52,90}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{52,92}}</string>
                <key>offset</key>
                <string>{26,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,119},{52,92}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,94}}</string>
                <key>offset</key>
                <string>{26,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,121},{52,94}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,126},{56,76}}</string>
                <key>offset</key>
                <string>{27,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,124},{56,76}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>stand_5_part2_wing_5001_stand_5_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,180},{60,74}}</string>
                <key>offset</key>
                <string>{29,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,125},{60,74}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_5_part2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8ae341e58193bb4712e0aa532f90205:1/1$</string>
            <key>textureFileName</key>
            <string>stand_5_part2.png</string>
        </dict>
    </dict>
</plist>
