<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd2_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,23}</string>
                <key>spriteSize</key>
                <string>{176,114}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{399,341},{176,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd2_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,29}</string>
                <key>spriteSize</key>
                <string>{190,128}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{381,211},{190,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd2_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,41}</string>
                <key>spriteSize</key>
                <string>{208,138}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{189,369},{208,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd2_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-100,46}</string>
                <key>spriteSize</key>
                <string>{230,186}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd2_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,34}</string>
                <key>spriteSize</key>
                <string>{194,208}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{233,1},{194,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd2_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,19}</string>
                <key>spriteSize</key>
                <string>{188,178}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{1,189},{188,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd2_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,10}</string>
                <key>spriteSize</key>
                <string>{186,162}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{1,369},{186,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd2_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,13}</string>
                <key>spriteSize</key>
                <string>{188,146}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{191,211},{188,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_b.png</string>
            <key>size</key>
            <string>{576,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5dd3d8b470df7dfc65dbee93c373e73:b95876961723283d1ae835f03481aab1:6906f11401650d27911352756de3c435$</string>
            <key>textureFileName</key>
            <string>run_1_b.png</string>
        </dict>
    </dict>
</plist>
