<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-41}</string>
                <key>spriteSize</key>
                <string>{178,208}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{395,129},{178,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-30}</string>
                <key>spriteSize</key>
                <string>{188,176}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{191,281},{188,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-16}</string>
                <key>spriteSize</key>
                <string>{216,150}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{177,129},{216,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-7}</string>
                <key>spriteSize</key>
                <string>{248,126}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{197,1},{248,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-22}</string>
                <key>spriteSize</key>
                <string>{194,118}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-23}</string>
                <key>spriteSize</key>
                <string>{174,136}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{1,121},{174,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-26}</string>
                <key>spriteSize</key>
                <string>{188,166}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{1,281},{188,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-37}</string>
                <key>spriteSize</key>
                <string>{192,196}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{381,339},{192,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_f.png</string>
            <key>size</key>
            <string>{574,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02e238e0f735187ad19f227471a5e923:3eb3034aec0213686970988f483f6a13:106d3046d0e71676a4432022aa46d34d$</string>
            <key>textureFileName</key>
            <string>run_3_f.png</string>
        </dict>
    </dict>
</plist>
