<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-17}</string>
                <key>spriteSize</key>
                <string>{136,194}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{1,203},{136,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-34}</string>
                <key>spriteSize</key>
                <string>{130,200}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-19}</string>
                <key>spriteSize</key>
                <string>{140,174}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{331,305},{140,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{152,160}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{139,185},{152,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{180,126}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{323,177},{180,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{188,174}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{323,1},{188,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{139,347},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_run_3_rd1rd2_ride_ride_9331_rd1_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-9}</string>
                <key>spriteSize</key>
                <string>{188,182}</string>
                <key>spriteSourceSize</key>
                <string>{736,736}</string>
                <key>textureRect</key>
                <string>{{133,1},{188,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_f.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a29c1516bbf175ed2d3d36019e568d6a:955acdde69699db3ac97bac2609a0873:0dcf570fafbd64dd9fee7532522305f3$</string>
            <key>textureFileName</key>
            <string>run_1_f.png</string>
        </dict>
    </dict>
</plist>
