<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_rd1rd2_ride_ride_9331_rd1_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-41}</string>
                <key>spriteSize</key>
                <string>{198,170}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9331_rd1_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-41}</string>
                <key>spriteSize</key>
                <string>{218,170}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{201,1},{218,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9331_rd1_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-41}</string>
                <key>spriteSize</key>
                <string>{230,170}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,173},{230,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9331_rd1_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-41}</string>
                <key>spriteSize</key>
                <string>{230,170}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{233,173},{230,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9331_rd1_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,-41}</string>
                <key>spriteSize</key>
                <string>{224,170}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{421,1},{224,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9331_rd1_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-41}</string>
                <key>spriteSize</key>
                <string>{226,170}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,345},{226,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9331_rd1_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-44}</string>
                <key>spriteSize</key>
                <string>{204,174}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{229,345},{204,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9331_rd1_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-44}</string>
                <key>spriteSize</key>
                <string>{204,174}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{435,345},{204,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_f.png</string>
            <key>size</key>
            <string>{646,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c6af77b6a64a9f16137bb116ba39623:c57977d703d0f846cd30ae1c8409bb2c:6dd2131498e5e789931da276e27f62e8$</string>
            <key>textureFileName</key>
            <string>stand_3_f.png</string>
        </dict>
    </dict>
</plist>
