<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_13_sh_ride_shape_2033_sh_stand_3_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,40}</string>
                <key>spriteSize</key>
                <string>{100,118}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{1,123},{100,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2033_sh_stand_3_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,40}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{203,123},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2033_sh_stand_3_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,41}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{1,243},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2033_sh_stand_3_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,41}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{99,243},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2033_sh_stand_3_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,40}</string>
                <key>spriteSize</key>
                <string>{98,118}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{103,123},{98,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2033_sh_stand_3_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,40}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{209,1},{100,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2033_sh_stand_3_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,40}</string>
                <key>spriteSize</key>
                <string>{102,120}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2033_sh_stand_3_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,40}</string>
                <key>spriteSize</key>
                <string>{102,120}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{105,1},{102,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3.png</string>
            <key>size</key>
            <string>{362,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2848af28c98c02094c0e0588d5e0a4b:3e1233362f19e63ebc5187893a5530cb:8c829cf17ee629810ae2fddba62aced7$</string>
            <key>textureFileName</key>
            <string>stand_3.png</string>
        </dict>
    </dict>
</plist>
