<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd2_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,81}</string>
                <key>spriteSize</key>
                <string>{190,214}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{541,217},{190,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd2_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,82}</string>
                <key>spriteSize</key>
                <string>{262,216}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{277,217},{262,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd2_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,81}</string>
                <key>spriteSize</key>
                <string>{266,214}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{277,1},{266,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd2_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,82}</string>
                <key>spriteSize</key>
                <string>{274,216}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd2_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,84}</string>
                <key>spriteSize</key>
                <string>{242,220}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{1,437},{242,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd2_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,82}</string>
                <key>spriteSize</key>
                <string>{244,216}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{1,219},{244,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd2_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,81}</string>
                <key>spriteSize</key>
                <string>{242,214}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{491,435},{242,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd2_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,81}</string>
                <key>spriteSize</key>
                <string>{244,214}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{245,437},{244,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_b.png</string>
            <key>size</key>
            <string>{734,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a88b045d6d77159c23546af219b6bd74:61d9a7d9764ac8e1dd3624aa219aea50:6906f11401650d27911352756de3c435$</string>
            <key>textureFileName</key>
            <string>run_1_b.png</string>
        </dict>
    </dict>
</plist>
