<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd1_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,44}</string>
                <key>spriteSize</key>
                <string>{288,244}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{609,257},{288,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd1_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,47}</string>
                <key>spriteSize</key>
                <string>{292,240}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{605,505},{292,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd1_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,43}</string>
                <key>spriteSize</key>
                <string>{298,246}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{309,257},{298,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd1_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,40}</string>
                <key>spriteSize</key>
                <string>{296,252}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{1,527},{296,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd1_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,33}</string>
                <key>spriteSize</key>
                <string>{306,264}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd1_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,37}</string>
                <key>spriteSize</key>
                <string>{306,258}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{1,267},{306,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd1_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,40}</string>
                <key>spriteSize</key>
                <string>{304,254}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{309,1},{304,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9231_rd1_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,42}</string>
                <key>spriteSize</key>
                <string>{294,248}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{309,505},{294,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_f.png</string>
            <key>size</key>
            <string>{898,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08ad9377227e286837c1e7b1a46e13c7:bfa6c2c9265b1d48de0a4e5bc7333c3a:0dcf570fafbd64dd9fee7532522305f3$</string>
            <key>textureFileName</key>
            <string>run_1_f.png</string>
        </dict>
    </dict>
</plist>
