<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd1_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-2}</string>
                <key>spriteSize</key>
                <string>{279,287}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{605,1},{279,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd1_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-4}</string>
                <key>spriteSize</key>
                <string>{287,289}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{599,290},{287,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd1_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,1}</string>
                <key>spriteSize</key>
                <string>{295,279}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{1,1},{295,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd1_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-1}</string>
                <key>spriteSize</key>
                <string>{305,281}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{298,1},{305,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd1_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-3}</string>
                <key>spriteSize</key>
                <string>{311,287}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{286,284},{311,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd1_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-5}</string>
                <key>spriteSize</key>
                <string>{317,291}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{1,573},{317,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd1_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-5}</string>
                <key>spriteSize</key>
                <string>{303,291}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{320,581},{303,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd1_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-2}</string>
                <key>spriteSize</key>
                <string>{283,287}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{1,282},{283,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_f.png</string>
            <key>size</key>
            <string>{887,887}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1f690c566dc881673243776ce208799:734c5bb222069ec3eccba0e0a98e3e64:106d3046d0e71676a4432022aa46d34d$</string>
            <key>textureFileName</key>
            <string>run_3_f.png</string>
        </dict>
    </dict>
</plist>
