<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd2_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,65}</string>
                <key>spriteSize</key>
                <string>{273,215}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{1,1},{273,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd2_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,65}</string>
                <key>spriteSize</key>
                <string>{271,217}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{276,1},{271,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd2_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,64}</string>
                <key>spriteSize</key>
                <string>{269,215}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{1,218},{269,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd2_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,63}</string>
                <key>spriteSize</key>
                <string>{267,211}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{272,220},{267,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd2_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,60}</string>
                <key>spriteSize</key>
                <string>{265,207}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{541,220},{265,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd2_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,61}</string>
                <key>spriteSize</key>
                <string>{267,209}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{537,433},{267,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd2_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,63}</string>
                <key>spriteSize</key>
                <string>{267,213}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{268,435},{267,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9231_rd2_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,64}</string>
                <key>spriteSize</key>
                <string>{265,215}</string>
                <key>spriteSourceSize</key>
                <string>{413,413}</string>
                <key>textureRect</key>
                <string>{{1,435},{265,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_b.png</string>
            <key>size</key>
            <string>{807,807}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c9a083480a77bbbfad4747524753349:326563a4ddec89d68af893a1266cb17c:968c0e4293938d4ae810d463b228e48c$</string>
            <key>textureFileName</key>
            <string>run_3_b.png</string>
        </dict>
    </dict>
</plist>
