<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd1rd2_ride_ride_9231_rd2_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,80}</string>
                <key>spriteSize</key>
                <string>{251,221}</string>
                <key>spriteSourceSize</key>
                <string>{425,425}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9231_rd2_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,80}</string>
                <key>spriteSize</key>
                <string>{259,221}</string>
                <key>spriteSourceSize</key>
                <string>{425,425}</string>
                <key>textureRect</key>
                <string>{{254,1},{259,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9231_rd2_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,83}</string>
                <key>spriteSize</key>
                <string>{263,225}</string>
                <key>spriteSourceSize</key>
                <string>{425,425}</string>
                <key>textureRect</key>
                <string>{{415,449},{263,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9231_rd2_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,82}</string>
                <key>spriteSize</key>
                <string>{267,223}</string>
                <key>spriteSourceSize</key>
                <string>{425,425}</string>
                <key>textureRect</key>
                <string>{{421,224},{267,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9231_rd2_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,82}</string>
                <key>spriteSize</key>
                <string>{233,223}</string>
                <key>spriteSourceSize</key>
                <string>{425,425}</string>
                <key>textureRect</key>
                <string>{{1,447},{233,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9231_rd2_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,81}</string>
                <key>spriteSize</key>
                <string>{175,221}</string>
                <key>spriteSourceSize</key>
                <string>{425,425}</string>
                <key>textureRect</key>
                <string>{{1,224},{175,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9231_rd2_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,82}</string>
                <key>spriteSize</key>
                <string>{177,223}</string>
                <key>spriteSourceSize</key>
                <string>{425,425}</string>
                <key>textureRect</key>
                <string>{{236,447},{177,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9231_rd2_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,80}</string>
                <key>spriteSize</key>
                <string>{241,221}</string>
                <key>spriteSourceSize</key>
                <string>{425,425}</string>
                <key>textureRect</key>
                <string>{{178,224},{241,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_b.png</string>
            <key>size</key>
            <string>{689,689}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:487edf5f265ce8e70039c2096c6d7429:ba6092abb8c420135a04d3b4be22302d:f4a3be5acebfee7c879e96700b9b8f6a$</string>
            <key>textureFileName</key>
            <string>stand_1_b.png</string>
        </dict>
    </dict>
</plist>
