<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,100}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,165},{74,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{78,98}}</string>
                <key>offset</key>
                <string>{-20,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,164},{78,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,154},{82,96}}</string>
                <key>offset</key>
                <string>{-22,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,168},{82,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{80,98}}</string>
                <key>offset</key>
                <string>{-21,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,167},{80,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{64,94}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,171},{64,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{66,94}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,172},{66,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,238},{66,94}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,172},{66,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{68,94}}</string>
                <key>offset</key>
                <string>{-15,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,171},{68,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,306},{66,92}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,173},{66,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,330},{60,88}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,177},{60,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,238},{60,90}}</string>
                <key>offset</key>
                <string>{-11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,175},{60,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5014_stand_3_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,84},{68,98}}</string>
                <key>offset</key>
                <string>{-15,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,167},{68,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_3_part1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32a61bb3942b12f6d70025179a2adaaf:1/1$</string>
            <key>textureFileName</key>
            <string>stand_3_part1.png</string>
        </dict>
    </dict>
</plist>
