<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,158}}</string>
                <key>offset</key>
                <string>{54,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,115},{84,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,152},{72,138}}</string>
                <key>offset</key>
                <string>{47,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,100},{72,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{74,144}}</string>
                <key>offset</key>
                <string>{49,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,95},{74,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,298},{80,144}}</string>
                <key>offset</key>
                <string>{52,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,96},{80,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,152},{88,144}}</string>
                <key>offset</key>
                <string>{55,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,97},{88,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{90,148}}</string>
                <key>offset</key>
                <string>{56,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,95},{90,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{92,148}}</string>
                <key>offset</key>
                <string>{57,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,95},{92,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{86,150}}</string>
                <key>offset</key>
                <string>{57,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,93},{86,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{84,106}}</string>
                <key>offset</key>
                <string>{55,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,137},{84,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,414},{86,114}}</string>
                <key>offset</key>
                <string>{56,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,128},{86,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,292},{86,120}}</string>
                <key>offset</key>
                <string>{55,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,121},{86,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part2_wing_5014_stand_3_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{86,124}}</string>
                <key>offset</key>
                <string>{54,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,116},{86,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_3_part2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05ba8dc3a99f181c2db2855a46126560:1/1$</string>
            <key>textureFileName</key>
            <string>stand_3_part2.png</string>
        </dict>
    </dict>
</plist>
