<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{58,106}}</string>
                <key>offset</key>
                <string>{-52,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,118},{58,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{58,104}}</string>
                <key>offset</key>
                <string>{-52,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,118},{58,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{56,104}}</string>
                <key>offset</key>
                <string>{-51,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,117},{56,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{58,110}}</string>
                <key>offset</key>
                <string>{-52,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,113},{58,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{64,116}}</string>
                <key>offset</key>
                <string>{-54,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,111},{64,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,116}}</string>
                <key>offset</key>
                <string>{-57,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,115},{70,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{74,110}}</string>
                <key>offset</key>
                <string>{-59,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,122},{74,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{74,112}}</string>
                <key>offset</key>
                <string>{-59,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,119},{74,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,144},{72,112}}</string>
                <key>offset</key>
                <string>{-58,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,117},{72,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,68},{74,114}}</string>
                <key>offset</key>
                <string>{-59,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,115},{74,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,218},{72,110}}</string>
                <key>offset</key>
                <string>{-59,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,119},{72,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5012_stand_8_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,292},{66,104}}</string>
                <key>offset</key>
                <string>{-56,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,124},{66,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_8_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa7b3253f07661afc9fe102b23a25b24:1/1$</string>
            <key>textureFileName</key>
            <string>stand_8_part2.png</string>
        </dict>
    </dict>
</plist>
