<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,266},{78,88}}</string>
                <key>offset</key>
                <string>{36,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,169},{78,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{82,96}}</string>
                <key>offset</key>
                <string>{38,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,165},{82,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{86,102}}</string>
                <key>offset</key>
                <string>{39,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,163},{86,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,108}}</string>
                <key>offset</key>
                <string>{40,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,163},{86,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,90},{78,96}}</string>
                <key>offset</key>
                <string>{35,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,167},{78,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,170},{94,94}}</string>
                <key>offset</key>
                <string>{43,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,172},{94,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{64,92}}</string>
                <key>offset</key>
                <string>{28,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,175},{64,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{66,92}}</string>
                <key>offset</key>
                <string>{29,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,175},{66,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,266},{68,88}}</string>
                <key>offset</key>
                <string>{30,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,178},{68,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,346},{72,84}}</string>
                <key>offset</key>
                <string>{32,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,181},{72,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{70,82}}</string>
                <key>offset</key>
                <string>{32,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,181},{70,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5012_stand_7_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{74,84}}</string>
                <key>offset</key>
                <string>{34,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,177},{74,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_7_part1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e364be84d2ff084b9a5f7c0c40bbaed:1/1$</string>
            <key>textureFileName</key>
            <string>stand_7_part1.png</string>
        </dict>
    </dict>
</plist>
