<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,106},{82,100}}</string>
                <key>offset</key>
                <string>{-64,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,146},{82,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{86,102}}</string>
                <key>offset</key>
                <string>{-66,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,144},{86,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{90,102}}</string>
                <key>offset</key>
                <string>{-68,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,142},{90,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{78,90}}</string>
                <key>offset</key>
                <string>{-62,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,153},{78,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,100},{84,90}}</string>
                <key>offset</key>
                <string>{-65,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,153},{84,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,208},{86,90}}</string>
                <key>offset</key>
                <string>{-66,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,150},{86,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{86,92}}</string>
                <key>offset</key>
                <string>{-66,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,145},{86,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,416},{90,96}}</string>
                <key>offset</key>
                <string>{-68,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,140},{90,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{90,96}}</string>
                <key>offset</key>
                <string>{-68,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,139},{90,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{90,102}}</string>
                <key>offset</key>
                <string>{-67,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,140},{90,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,102}}</string>
                <key>offset</key>
                <string>{-69,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,141},{92,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5012_stand_1_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,314},{90,100}}</string>
                <key>offset</key>
                <string>{-68,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,144},{90,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1_part1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86543bfc183e7c6929f15216bf9174d5:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1_part1.png</string>
        </dict>
    </dict>
</plist>
