<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_sh_ride_shape_3006_sh_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-29}</string>
                <key>spriteSize</key>
                <string>{92,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{203,161},{92,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_3006_sh_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-29}</string>
                <key>spriteSize</key>
                <string>{94,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{105,1},{94,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_3006_sh_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-29}</string>
                <key>spriteSize</key>
                <string>{94,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{201,1},{94,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_3006_sh_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-29}</string>
                <key>spriteSize</key>
                <string>{92,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{297,161},{92,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_3006_sh_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-29}</string>
                <key>spriteSize</key>
                <string>{94,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{297,1},{94,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_3006_sh_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-30}</string>
                <key>spriteSize</key>
                <string>{100,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,161},{100,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_3006_sh_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-30}</string>
                <key>spriteSize</key>
                <string>{102,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_3006_sh_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-30}</string>
                <key>spriteSize</key>
                <string>{98,156}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{103,161},{98,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1.png</string>
            <key>size</key>
            <string>{392,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e63828ab706ec21b7f0d9a3d1a0f634:344efd1846a915b6adca9efcf1bcaa0d:6b0fd2cb93095b6ecebd329f5f054e55$</string>
            <key>textureFileName</key>
            <string>run_1.png</string>
        </dict>
    </dict>
</plist>
