<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_13_sh_ride_shape_4018_sh_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-26}</string>
                <key>spriteSize</key>
                <string>{104,118}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4018_sh_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-27}</string>
                <key>spriteSize</key>
                <string>{104,118}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,121},{104,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4018_sh_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-27}</string>
                <key>spriteSize</key>
                <string>{106,116}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{217,1},{106,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4018_sh_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-26}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{107,235},{106,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4018_sh_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-25}</string>
                <key>spriteSize</key>
                <string>{108,114}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{107,1},{108,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4018_sh_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-24}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{215,119},{106,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4018_sh_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-24}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{215,235},{106,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_4018_sh_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-25}</string>
                <key>spriteSize</key>
                <string>{106,116}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{107,117},{106,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3.png</string>
            <key>size</key>
            <string>{350,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3d6d7e9a2949231c8a367fee6d3e2f0:000ed8b128f3fe623ca479d1197ac1b0:8c829cf17ee629810ae2fddba62aced7$</string>
            <key>textureFileName</key>
            <string>stand_3.png</string>
        </dict>
    </dict>
</plist>
