<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_sh_ride_shape_4037_sh_run_1_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,27}</string>
                <key>spriteSize</key>
                <string>{98,146}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4037_sh_run_1_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,27}</string>
                <key>spriteSize</key>
                <string>{92,146}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{101,1},{92,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4037_sh_run_1_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,27}</string>
                <key>spriteSize</key>
                <string>{86,146}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{195,147},{86,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4037_sh_run_1_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,28}</string>
                <key>spriteSize</key>
                <string>{84,146}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{289,1},{84,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4037_sh_run_1_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,28}</string>
                <key>spriteSize</key>
                <string>{86,144}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{283,149},{86,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4037_sh_run_1_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,28}</string>
                <key>spriteSize</key>
                <string>{92,144}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{101,149},{92,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4037_sh_run_1_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,28}</string>
                <key>spriteSize</key>
                <string>{92,144}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{195,1},{92,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4037_sh_run_1_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,28}</string>
                <key>spriteSize</key>
                <string>{98,146}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,149},{98,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1.png</string>
            <key>size</key>
            <string>{374,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17a23aaa7123a80f8cec822bac561d94:443fc6da96c87f0ee78db2b3bf782774:6b0fd2cb93095b6ecebd329f5f054e55$</string>
            <key>textureFileName</key>
            <string>run_1.png</string>
        </dict>
    </dict>
</plist>
