<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_3_rd1_ride_ride_9321_rd1_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-62}</string>
                <key>spriteSize</key>
                <string>{134,144}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{345,1},{134,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1_ride_ride_9321_rd1_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-51}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{203,147},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1_ride_ride_9321_rd1_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-39}</string>
                <key>spriteSize</key>
                <string>{184,138}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,271},{184,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1_ride_ride_9321_rd1_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-39}</string>
                <key>spriteSize</key>
                <string>{200,134}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,135},{200,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1_ride_ride_9321_rd1_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-46}</string>
                <key>spriteSize</key>
                <string>{200,132}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{143,1},{200,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1_ride_ride_9321_rd1_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,-69}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1_ride_ride_9321_rd1_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-78}</string>
                <key>spriteSize</key>
                <string>{170,144}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{187,287},{170,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1_ride_ride_9321_rd1_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-74}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{359,287},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_f.png</string>
            <key>size</key>
            <string>{482,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a387cfe70b5ad495cf18b9e61b5b97f8:225c04925966b29bda47140e572264b1:106d3046d0e71676a4432022aa46d34d$</string>
            <key>textureFileName</key>
            <string>run_3_f.png</string>
        </dict>
    </dict>
</plist>
