<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_rd2_ride_ride_9321_rd2_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{181,140}</string>
                <key>spriteSourceSize</key>
                <string>{425,400}</string>
                <key>textureRect</key>
                <string>{{1,383},{181,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd2_ride_ride_9321_rd2_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,11}</string>
                <key>spriteSize</key>
                <string>{179,174}</string>
                <key>spriteSourceSize</key>
                <string>{425,400}</string>
                <key>textureRect</key>
                <string>{{192,1},{179,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd2_ride_ride_9321_rd2_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,21}</string>
                <key>spriteSize</key>
                <string>{197,184}</string>
                <key>spriteSourceSize</key>
                <string>{425,400}</string>
                <key>textureRect</key>
                <string>{{1,197},{197,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd2_ride_ride_9321_rd2_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,16}</string>
                <key>spriteSize</key>
                <string>{189,194}</string>
                <key>spriteSourceSize</key>
                <string>{425,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd2_ride_ride_9321_rd2_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,8}</string>
                <key>spriteSize</key>
                <string>{169,212}</string>
                <key>spriteSourceSize</key>
                <string>{425,400}</string>
                <key>textureRect</key>
                <string>{{351,177},{169,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd2_ride_ride_9321_rd2_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,4}</string>
                <key>spriteSize</key>
                <string>{135,180}</string>
                <key>spriteSourceSize</key>
                <string>{425,400}</string>
                <key>textureRect</key>
                <string>{{200,177},{135,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd2_ride_ride_9321_rd2_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-6}</string>
                <key>spriteSize</key>
                <string>{135,142}</string>
                <key>spriteSourceSize</key>
                <string>{425,400}</string>
                <key>textureRect</key>
                <string>{{373,1},{135,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd2_ride_ride_9321_rd2_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{165,116}</string>
                <key>spriteSourceSize</key>
                <string>{425,400}</string>
                <key>textureRect</key>
                <string>{{184,383},{165,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_b.png</string>
            <key>size</key>
            <string>{524,524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6886b95c6b82b22f4d42412d21be485c:19e9247995ba9e6d2104ec9fefe5de85:6906f11401650d27911352756de3c435$</string>
            <key>textureFileName</key>
            <string>run_1_b.png</string>
        </dict>
    </dict>
</plist>
