<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd1rd2_stand_3_rd1rd2_ride_ride_9321_rd2_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,63}</string>
                <key>spriteSize</key>
                <string>{156,204}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{325,1},{156,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_stand_3_rd1rd2_ride_ride_9321_rd2_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,63}</string>
                <key>spriteSize</key>
                <string>{166,208}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_stand_3_rd1rd2_ride_ride_9321_rd2_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,63}</string>
                <key>spriteSize</key>
                <string>{148,206}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{465,415},{148,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_stand_3_rd1rd2_ride_ride_9321_rd2_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,63}</string>
                <key>spriteSize</key>
                <string>{150,208}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,211},{150,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_stand_3_rd1rd2_ride_ride_9321_rd2_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,62}</string>
                <key>spriteSize</key>
                <string>{154,206}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{169,1},{154,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_stand_3_rd1rd2_ride_ride_9321_rd2_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,62}</string>
                <key>spriteSize</key>
                <string>{156,206}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{153,211},{156,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_stand_3_rd1rd2_ride_ride_9321_rd2_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,62}</string>
                <key>spriteSize</key>
                <string>{154,206}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{325,207},{154,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_stand_3_rd1rd2_ride_ride_9321_rd2_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,63}</string>
                <key>spriteSize</key>
                <string>{152,206}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{311,415},{152,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_b.png</string>
            <key>size</key>
            <string>{622,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38914f74a91de70537227a03e0d99e9f:f21fc91276a55f7638eb06f5acfaef23:b763bf2a2b4c09ea147574fb795a436b$</string>
            <key>textureFileName</key>
            <string>stand_3_b.png</string>
        </dict>
    </dict>
</plist>
