<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_sh_ride_shape_4017_sh_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-31}</string>
                <key>spriteSize</key>
                <string>{86,152}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,155},{86,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4017_sh_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-31}</string>
                <key>spriteSize</key>
                <string>{88,150}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{89,155},{88,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4017_sh_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-31}</string>
                <key>spriteSize</key>
                <string>{88,152}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4017_sh_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-31}</string>
                <key>spriteSize</key>
                <string>{84,150}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{91,1},{84,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4017_sh_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-31}</string>
                <key>spriteSize</key>
                <string>{82,150}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{179,153},{82,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4017_sh_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-30}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{263,1},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4017_sh_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-31}</string>
                <key>spriteSize</key>
                <string>{80,148}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{263,153},{80,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_4017_sh_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-30}</string>
                <key>spriteSize</key>
                <string>{84,150}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{177,1},{84,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3.png</string>
            <key>size</key>
            <string>{344,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d54ed1fb7cd3a2108adfb1b76097dd76:1c9091a5413088fae7a53901595adfe3:bfc62b5135232811a340b51fba37dfe3$</string>
            <key>textureFileName</key>
            <string>run_3.png</string>
        </dict>
    </dict>
</plist>
