<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_sh_ride_shape_2013_sh_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{156,116}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{153,1},{156,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_2013_sh_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{150,114}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_2013_sh_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{144,116}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{311,1},{144,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_2013_sh_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{144,118}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,117},{144,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_2013_sh_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{148,118}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{309,119},{148,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_2013_sh_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{152,118}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,237},{152,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_2013_sh_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{160,118}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{155,239},{160,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_sh_ride_shape_2013_sh_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,0}</string>
                <key>spriteSize</key>
                <string>{160,116}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{147,119},{160,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3.png</string>
            <key>size</key>
            <string>{458,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cd2c249b18500f793fc62825c41b5ef:e8c41756554405ab10057c76f1d1fc26:8c829cf17ee629810ae2fddba62aced7$</string>
            <key>textureFileName</key>
            <string>stand_3.png</string>
        </dict>
    </dict>
</plist>
