<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_ride_9131_rd1_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-2}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{169,1},{160,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-4}</string>
                <key>spriteSize</key>
                <string>{166,180}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-6}</string>
                <key>spriteSize</key>
                <string>{154,180}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,183},{154,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,1}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{337,163},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,3}</string>
                <key>spriteSize</key>
                <string>{166,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{169,169},{166,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,3}</string>
                <key>spriteSize</key>
                <string>{164,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{157,321},{164,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,4}</string>
                <key>spriteSize</key>
                <string>{164,160}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{323,325},{164,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,5}</string>
                <key>spriteSize</key>
                <string>{162,160}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{331,1},{162,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_f.png</string>
            <key>size</key>
            <string>{494,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d67cd2c16856855bac8568fd5176eaf4:e929c4ff0a51a304adf6e8131ccaa755:106d3046d0e71676a4432022aa46d34d$</string>
            <key>textureFileName</key>
            <string>run_3_f.png</string>
        </dict>
    </dict>
</plist>
