<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_ride_9131_rd2_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,16}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{143,1},{150,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,19}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{289,305},{142,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,17}</string>
                <key>spriteSize</key>
                <string>{144,154}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{143,159},{144,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,17}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{295,1},{150,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,18}</string>
                <key>spriteSize</key>
                <string>{140,160}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,167},{140,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,14}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,16}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{143,315},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,16}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{295,157},{150,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_b.png</string>
            <key>size</key>
            <string>{468,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23b2214ebcf3f0dabab1432aabb83549:f5fefd668f869d07735b59658f37c488:968c0e4293938d4ae810d463b228e48c$</string>
            <key>textureFileName</key>
            <string>run_3_b.png</string>
        </dict>
    </dict>
</plist>
