<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_ride_9131_rd2_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,31}</string>
                <key>spriteSize</key>
                <string>{152,168}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{163,341},{152,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,31}</string>
                <key>spriteSize</key>
                <string>{146,166}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{323,173},{146,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,30}</string>
                <key>spriteSize</key>
                <string>{158,166}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{163,173},{158,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,31}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{317,341},{150,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,30}</string>
                <key>spriteSize</key>
                <string>{156,170}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{323,1},{156,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,30}</string>
                <key>spriteSize</key>
                <string>{158,170}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{163,1},{158,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,32}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,179},{160,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd2_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,30}</string>
                <key>spriteSize</key>
                <string>{160,176}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_b.png</string>
            <key>size</key>
            <string>{510,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1c86ed34d1b1577bac4b027f323e211:fa123dbcde43c66cd543324e582c8d50:f4a3be5acebfee7c879e96700b9b8f6a$</string>
            <key>textureFileName</key>
            <string>stand_1_b.png</string>
        </dict>
    </dict>
</plist>
