<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ride_ride_9131_rd1_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-6}</string>
                <key>spriteSize</key>
                <string>{156,164}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-5}</string>
                <key>spriteSize</key>
                <string>{156,166}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{159,1},{156,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-5}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{317,1},{160,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-5}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{159,169},{160,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-5}</string>
                <key>spriteSize</key>
                <string>{156,166}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,167},{156,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-5}</string>
                <key>spriteSize</key>
                <string>{158,166}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{321,169},{158,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-5}</string>
                <key>spriteSize</key>
                <string>{158,166}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,337},{158,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ride_ride_9131_rd1_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-5}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{161,337},{160,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_f.png</string>
            <key>size</key>
            <string>{504,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bba96c2b06bc2b6303ede9d5650cba1:b2ca81680cbd468d316c5cc3f62b6adf:6dd2131498e5e789931da276e27f62e8$</string>
            <key>textureFileName</key>
            <string>stand_3_f.png</string>
        </dict>
    </dict>
</plist>
