<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{65,55}}</string>
                <key>offset</key>
                <string>{34,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,137},{65,55}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,191},{65,57}}</string>
                <key>offset</key>
                <string>{35,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,136},{65,57}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{67,57}}</string>
                <key>offset</key>
                <string>{36,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,137},{67,57}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,69},{71,59}}</string>
                <key>offset</key>
                <string>{37,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,136},{71,59}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{71,59}}</string>
                <key>offset</key>
                <string>{37,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,137},{71,59}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{71,61}}</string>
                <key>offset</key>
                <string>{37,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,137},{71,61}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{71,65}}</string>
                <key>offset</key>
                <string>{37,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,134},{71,65}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,69}}</string>
                <key>offset</key>
                <string>{37,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,132},{71,69}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,65},{69,61}}</string>
                <key>offset</key>
                <string>{36,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,130},{69,61}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,128},{71,59}}</string>
                <key>offset</key>
                <string>{38,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,132},{71,59}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,130},{71,59}}</string>
                <key>offset</key>
                <string>{38,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,132},{71,59}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>stand_5_part2_wing_5003_stand_5_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,189},{71,57}}</string>
                <key>offset</key>
                <string>{38,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,135},{71,57}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_5_part2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e347a476c4c81d0a90c2666af6d5f4e:1/1$</string>
            <key>textureFileName</key>
            <string>stand_5_part2.png</string>
        </dict>
    </dict>
</plist>
