<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{90,54}}</string>
                <key>offset</key>
                <string>{62,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,150},{90,54}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{80,56}}</string>
                <key>offset</key>
                <string>{57,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,148},{80,56}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,56}}</string>
                <key>offset</key>
                <string>{65,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,147},{98,56}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,84},{80,54}}</string>
                <key>offset</key>
                <string>{56,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,149},{80,54}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{80,52}}</string>
                <key>offset</key>
                <string>{55,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,151},{80,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,112},{78,50}}</string>
                <key>offset</key>
                <string>{55,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,153},{78,50}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{80,50}}</string>
                <key>offset</key>
                <string>{54,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,153},{80,50}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,166},{80,48}}</string>
                <key>offset</key>
                <string>{54,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,155},{80,48}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,166},{78,48}}</string>
                <key>offset</key>
                <string>{55,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,155},{78,48}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,164},{80,48}}</string>
                <key>offset</key>
                <string>{56,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,156},{80,48}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{84,50}}</string>
                <key>offset</key>
                <string>{58,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,154},{84,50}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>stand_3_part2_wing_5003_stand_3_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,58},{86,52}}</string>
                <key>offset</key>
                <string>{60,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,152},{86,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_3_part2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c0de736849181f0c374e7515ebe4c61:1/1$</string>
            <key>textureFileName</key>
            <string>stand_3_part2.png</string>
        </dict>
    </dict>
</plist>
