<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{77,41}}</string>
                <key>offset</key>
                <string>{-67,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,160},{77,41}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,144},{77,41}}</string>
                <key>offset</key>
                <string>{-67,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,160},{77,41}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{77,55}}</string>
                <key>offset</key>
                <string>{-67,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,158},{77,55}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,120},{77,59}}</string>
                <key>offset</key>
                <string>{-67,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,157},{77,59}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,79},{77,63}}</string>
                <key>offset</key>
                <string>{-66,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,156},{77,63}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{77,67}}</string>
                <key>offset</key>
                <string>{-65,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,155},{77,67}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,45},{77,73}}</string>
                <key>offset</key>
                <string>{-65,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,152},{77,73}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{77,75}}</string>
                <key>offset</key>
                <string>{-64,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,153},{77,75}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,187},{75,47}}</string>
                <key>offset</key>
                <string>{-63,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,153},{75,47}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,79}}</string>
                <key>offset</key>
                <string>{-66,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,156},{81,79}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,181},{77,41}}</string>
                <key>offset</key>
                <string>{-63,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,158},{77,41}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
            <key>stand_1_part1_wing_5003_stand_1_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{81,41}}</string>
                <key>offset</key>
                <string>{-64,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,160},{81,41}}</string>
                <key>sourceSize</key>
                <string>{455,455}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1_part1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eded7663eceedce54220767477f5bd3b:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1_part1.png</string>
        </dict>
    </dict>
</plist>
