<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,194},{38,60}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,196},{38,60}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,64},{36,60}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,197},{36,60}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,66},{38,60}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,197},{38,60}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{38,60}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,197},{38,60}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,66},{34,62}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,195},{34,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,130},{34,62}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,195},{34,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{36,62}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,196},{36,62}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{38,64}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,196},{38,64}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{36,66}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,197},{36,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{34,68}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,197},{34,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,72}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,196},{34,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5003_stand_3_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,128},{38,60}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,197},{38,60}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_3_part1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2acce5b36734b1991a6044844aff15a:1/1$</string>
            <key>textureFileName</key>
            <string>stand_3_part1.png</string>
        </dict>
    </dict>
</plist>
