<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_3_sh_ride_shape_3005_sh_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{172,156}}</string>
                <key>offset</key>
                <string>{29,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,233},{172,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>run_3_sh_ride_shape_3005_sh_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,158},{166,158}}</string>
                <key>offset</key>
                <string>{27,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,233},{166,158}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>run_3_sh_ride_shape_3005_sh_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,318},{164,162}}</string>
                <key>offset</key>
                <string>{26,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,231},{164,162}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>run_3_sh_ride_shape_3005_sh_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,320},{162,160}}</string>
                <key>offset</key>
                <string>{26,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,231},{162,160}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>run_3_sh_ride_shape_3005_sh_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,158},{166,160}}</string>
                <key>offset</key>
                <string>{26,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,230},{166,160}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>run_3_sh_ride_shape_3005_sh_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{170,156}}</string>
                <key>offset</key>
                <string>{29,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,231},{170,156}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>run_3_sh_ride_shape_3005_sh_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,154}}</string>
                <key>offset</key>
                <string>{32,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,232},{176,154}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>run_3_sh_ride_shape_3005_sh_run_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,154}}</string>
                <key>offset</key>
                <string>{32,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,233},{176,154}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:416c84bc915c366f54f64316e37e3ea7:1/1$</string>
            <key>textureFileName</key>
            <string>run_3.png</string>
        </dict>
    </dict>
</plist>
