<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_sh_ride_shape_3005_sh_stand_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{154,160}}</string>
                <key>offset</key>
                <string>{19,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,248},{154,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_sh_ride_shape_3005_sh_stand_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{152,160}}</string>
                <key>offset</key>
                <string>{18,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,248},{152,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_sh_ride_shape_3005_sh_stand_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,162},{152,158}}</string>
                <key>offset</key>
                <string>{18,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,249},{152,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_sh_ride_shape_3005_sh_stand_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,324},{156,158}}</string>
                <key>offset</key>
                <string>{18,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,248},{156,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_sh_ride_shape_3005_sh_stand_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,326},{158,158}}</string>
                <key>offset</key>
                <string>{18,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,248},{158,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_sh_ride_shape_3005_sh_stand_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,164},{158,158}}</string>
                <key>offset</key>
                <string>{19,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,248},{158,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_sh_ride_shape_3005_sh_stand_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{158,158}}</string>
                <key>offset</key>
                <string>{19,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,248},{158,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_sh_ride_shape_3005_sh_stand_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,160}}</string>
                <key>offset</key>
                <string>{20,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,247},{156,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c97db0d0476106ddad75471f34035c1:1/1$</string>
            <key>textureFileName</key>
            <string>stand_3.png</string>
        </dict>
    </dict>
</plist>
