<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_3_rd2_ride_ride_9311_rd2_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{166,172}}</string>
                <key>offset</key>
                <string>{-31,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,133},{166,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9311_rd2_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,158}}</string>
                <key>offset</key>
                <string>{-36,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,138},{178,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9311_rd2_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,324},{168,144}}</string>
                <key>offset</key>
                <string>{-31,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,145},{168,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9311_rd2_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{142,150}}</string>
                <key>offset</key>
                <string>{-40,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,140},{142,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9311_rd2_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,320},{144,156}}</string>
                <key>offset</key>
                <string>{-35,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,137},{144,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9311_rd2_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,146},{148,172}}</string>
                <key>offset</key>
                <string>{-32,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,133},{148,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9311_rd2_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,168},{154,172}}</string>
                <key>offset</key>
                <string>{-33,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,134},{154,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9311_rd2_run_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{164,174}}</string>
                <key>offset</key>
                <string>{-30,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,131},{164,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_3_b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a37dd99999b78fb550ddcb3b9bf047ae:1/1$</string>
            <key>textureFileName</key>
            <string>run_3_b.png</string>
        </dict>
    </dict>
</plist>
