<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{60,136}}</string>
                <key>offset</key>
                <string>{-50,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,82},{60,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{70,130}}</string>
                <key>offset</key>
                <string>{-45,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,88},{70,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{74,126}}</string>
                <key>offset</key>
                <string>{-37,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,93},{74,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{84,126}}</string>
                <key>offset</key>
                <string>{-35,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,93},{84,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,130},{96,126}}</string>
                <key>offset</key>
                <string>{-35,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,93},{96,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{100,126}}</string>
                <key>offset</key>
                <string>{-36,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,93},{100,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,334},{72,124}}</string>
                <key>offset</key>
                <string>{-54,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,95},{72,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{72,122}}</string>
                <key>offset</key>
                <string>{-54,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,96},{72,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,258},{74,120}}</string>
                <key>offset</key>
                <string>{-55,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,98},{74,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,408},{68,124}}</string>
                <key>offset</key>
                <string>{-52,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,94},{68,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{64,134}}</string>
                <key>offset</key>
                <string>{-51,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,85},{64,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5010_stand_8_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,138}}</string>
                <key>offset</key>
                <string>{-51,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,80},{62,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_8_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55306858a8b1d7074230abc05368ad84:1/1$</string>
            <key>textureFileName</key>
            <string>stand_8_part2.png</string>
        </dict>
    </dict>
</plist>
