<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,122}}</string>
                <key>offset</key>
                <string>{-63,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,124},{80,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{82,114}}</string>
                <key>offset</key>
                <string>{-64,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,134},{82,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,120},{82,112}}</string>
                <key>offset</key>
                <string>{-64,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,135},{82,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,110},{84,102}}</string>
                <key>offset</key>
                <string>{-65,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,142},{84,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,214},{88,100}}</string>
                <key>offset</key>
                <string>{-67,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,142},{88,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,110},{88,100}}</string>
                <key>offset</key>
                <string>{-67,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,141},{88,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{92,106}}</string>
                <key>offset</key>
                <string>{-69,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,135},{92,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,362},{92,110}}</string>
                <key>offset</key>
                <string>{-69,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,131},{92,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{94,112}}</string>
                <key>offset</key>
                <string>{-70,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,129},{94,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,248},{94,112}}</string>
                <key>offset</key>
                <string>{-70,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,128},{94,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{94,116}}</string>
                <key>offset</key>
                <string>{-70,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,126},{94,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5010_stand_1_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{92,120}}</string>
                <key>offset</key>
                <string>{-69,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,125},{92,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1_part1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:594fc25890c8eed6304c582323beb866:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1_part1.png</string>
        </dict>
    </dict>
</plist>
