<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{110,114}}</string>
                <key>offset</key>
                <string>{48,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,144},{110,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,142},{116,126}}</string>
                <key>offset</key>
                <string>{51,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,131},{116,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,280},{122,130}}</string>
                <key>offset</key>
                <string>{53,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,128},{122,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,412},{98,130}}</string>
                <key>offset</key>
                <string>{41,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,129},{98,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{100,134}}</string>
                <key>offset</key>
                <string>{42,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,127},{100,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{102,136}}</string>
                <key>offset</key>
                <string>{43,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,126},{102,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,138}}</string>
                <key>offset</key>
                <string>{44,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,125},{104,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,92},{88,96}}</string>
                <key>offset</key>
                <string>{36,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,167},{88,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{88,98}}</string>
                <key>offset</key>
                <string>{36,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,165},{88,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,118},{88,104}}</string>
                <key>offset</key>
                <string>{37,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,159},{88,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{94,108}}</string>
                <key>offset</key>
                <string>{39,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,153},{94,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part1_wing_5010_stand_7_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{108,114}}</string>
                <key>offset</key>
                <string>{46,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,146},{108,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_7_part1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6538de7382af9db398bd97876e475e77:1/1$</string>
            <key>textureFileName</key>
            <string>stand_7_part1.png</string>
        </dict>
    </dict>
</plist>
