<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,384},{110,122}}</string>
                <key>offset</key>
                <string>{-59,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,104},{110,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,124},{116,104}}</string>
                <key>offset</key>
                <string>{-62,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,123},{116,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,382},{120,102}}</string>
                <key>offset</key>
                <string>{-64,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,124},{120,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{126,102}}</string>
                <key>offset</key>
                <string>{-67,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,124},{126,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,242},{98,108}}</string>
                <key>offset</key>
                <string>{-53,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,118},{98,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{100,114}}</string>
                <key>offset</key>
                <string>{-54,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,112},{100,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{102,120}}</string>
                <key>offset</key>
                <string>{-55,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,107},{102,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,258},{104,122}}</string>
                <key>offset</key>
                <string>{-56,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,105},{104,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,130},{88,122}}</string>
                <key>offset</key>
                <string>{-48,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,105},{88,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{88,124}}</string>
                <key>offset</key>
                <string>{-48,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,103},{88,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{96,124}}</string>
                <key>offset</key>
                <string>{-52,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,103},{96,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part1_wing_5010_stand_5_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,126}}</string>
                <key>offset</key>
                <string>{-57,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,101},{106,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_5_part1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47cd302a2d104a402a18d55f3aeea658:1/1$</string>
            <key>textureFileName</key>
            <string>stand_5_part1.png</string>
        </dict>
    </dict>
</plist>
