<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,102}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,163},{88,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,84},{90,96}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,165},{90,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{94,94}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,169},{94,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,176},{92,94}}</string>
                <key>offset</key>
                <string>{-15,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,171},{92,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{76,94}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,171},{76,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{76,92}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,173},{76,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{78,92}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,173},{78,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,270},{78,92}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,173},{78,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,424},{78,88}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,176},{78,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{72,86}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,179},{72,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,350},{72,88}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,176},{72,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5010_stand_3_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{80,98}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,167},{80,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_3_part1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ba6966a4607bd927ca99d3032768a24:1/1$</string>
            <key>textureFileName</key>
            <string>stand_3_part1.png</string>
        </dict>
    </dict>
</plist>
