<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_13_sh_ride_shape_2014_sh_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{96,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{203,123},{96,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2014_sh_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,125},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2014_sh_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,249},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2014_sh_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{101,125},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2014_sh_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{103,1},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2014_sh_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{100,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2014_sh_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{98,120}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{203,1},{98,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2014_sh_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{98,122}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{101,249},{98,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1.png</string>
            <key>size</key>
            <string>{372,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7f28f167f394ed435f649b15f1ff1c4:28aab8114b1e624280118f8b191d2b30:0b965a9b2764de96d50c3e5fcae4ba7a$</string>
            <key>textureFileName</key>
            <string>stand_1.png</string>
        </dict>
    </dict>
</plist>
