<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_sh_ride_shape_1002_sh_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-31}</string>
                <key>spriteSize</key>
                <string>{104,134}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{109,1},{104,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1002_sh_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-31}</string>
                <key>spriteSize</key>
                <string>{100,134}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{213,273},{100,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1002_sh_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-30}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{109,273},{102,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1002_sh_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-30}</string>
                <key>spriteSize</key>
                <string>{104,134}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{215,1},{104,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1002_sh_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-30}</string>
                <key>spriteSize</key>
                <string>{104,134}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{109,137},{104,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1002_sh_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-30}</string>
                <key>spriteSize</key>
                <string>{106,134}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1002_sh_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-30}</string>
                <key>spriteSize</key>
                <string>{106,134}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{1,137},{106,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1002_sh_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-30}</string>
                <key>spriteSize</key>
                <string>{106,134}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{1,273},{106,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1.png</string>
            <key>size</key>
            <string>{408,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e3159cec26a88f508980722e38bb8c6:71a88ae0ddb4fa78ee537af4f2470c5b:6b0fd2cb93095b6ecebd329f5f054e55$</string>
            <key>textureFileName</key>
            <string>run_1.png</string>
        </dict>
    </dict>
</plist>
