<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_13_sh_ride_shape_1002_sh_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-33}</string>
                <key>spriteSize</key>
                <string>{106,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_1002_sh_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-33}</string>
                <key>spriteSize</key>
                <string>{104,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{217,1},{104,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_1002_sh_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-33}</string>
                <key>spriteSize</key>
                <string>{104,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{109,135},{104,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_1002_sh_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-32}</string>
                <key>spriteSize</key>
                <string>{104,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{109,269},{104,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_1002_sh_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-32}</string>
                <key>spriteSize</key>
                <string>{104,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{215,135},{104,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_1002_sh_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-32}</string>
                <key>spriteSize</key>
                <string>{106,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,135},{106,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_1002_sh_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-32}</string>
                <key>spriteSize</key>
                <string>{106,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1,269},{106,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_1002_sh_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-32}</string>
                <key>spriteSize</key>
                <string>{106,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{109,1},{106,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1.png</string>
            <key>size</key>
            <string>{402,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c4ded4f25fa2a127933075ecc96b7d4:8a2704a89be2bb0e5b9bbbf4de37e2aa:0b965a9b2764de96d50c3e5fcae4ba7a$</string>
            <key>textureFileName</key>
            <string>stand_1.png</string>
        </dict>
    </dict>
</plist>
