<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_3_rd2_ride_ride_9111_rd2_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,370},{133,165}}</string>
                <key>offset</key>
                <string>{-50,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,63},{133,165}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9111_rd2_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,380},{123,197}}</string>
                <key>offset</key>
                <string>{-53,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,65},{123,197}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9111_rd2_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{133,205}}</string>
                <key>offset</key>
                <string>{-54,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,67},{133,205}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9111_rd2_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,191}}</string>
                <key>offset</key>
                <string>{-49,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,70},{147,191}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9111_rd2_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,195},{145,183}}</string>
                <key>offset</key>
                <string>{-49,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,71},{145,183}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9111_rd2_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{137,179}}</string>
                <key>offset</key>
                <string>{-45,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,68},{137,179}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9111_rd2_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,183},{131,185}}</string>
                <key>offset</key>
                <string>{-44,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,61},{131,185}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
            <key>run_3_rd2_ride_ride_9111_rd2_run_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{127,167}}</string>
                <key>offset</key>
                <string>{-46,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,60},{127,167}}</string>
                <key>sourceSize</key>
                <string>{465,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_3_b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a53ea92b88c22dc7d118166396dd5c0e:1/1$</string>
            <key>textureFileName</key>
            <string>run_3_b.png</string>
        </dict>
    </dict>
</plist>
