<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd2_ride_ride_9111_rd2_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,42}</string>
                <key>spriteSize</key>
                <string>{116,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{367,163},{116,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9111_rd2_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,42}</string>
                <key>spriteSize</key>
                <string>{118,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{249,327},{118,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9111_rd2_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,43}</string>
                <key>spriteSize</key>
                <string>{116,160}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{249,165},{116,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9111_rd2_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,44}</string>
                <key>spriteSize</key>
                <string>{120,162}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{127,167},{120,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9111_rd2_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,45}</string>
                <key>spriteSize</key>
                <string>{124,164}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,167},{124,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9111_rd2_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,45}</string>
                <key>spriteSize</key>
                <string>{126,164}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9111_rd2_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,44}</string>
                <key>spriteSize</key>
                <string>{128,162}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{129,1},{128,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd2_ride_ride_9111_rd2_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,43}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{259,1},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_b.png</string>
            <key>size</key>
            <string>{486,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec52710bb9eaeb0dedf2e4b0c52cab5:7d7c23c393a541a9d31695e312e20de6:f4a3be5acebfee7c879e96700b9b8f6a$</string>
            <key>textureFileName</key>
            <string>stand_1_b.png</string>
        </dict>
    </dict>
</plist>
