<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{58,98}}</string>
                <key>offset</key>
                <string>{-52,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,125},{58,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,288},{58,96}}</string>
                <key>offset</key>
                <string>{-52,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,128},{58,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{58,96}}</string>
                <key>offset</key>
                <string>{-51,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,130},{58,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,230},{56,100}}</string>
                <key>offset</key>
                <string>{-50,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,129},{56,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{56,102}}</string>
                <key>offset</key>
                <string>{-51,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,129},{56,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,172},{56,106}}</string>
                <key>offset</key>
                <string>{-51,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,127},{56,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,110}}</string>
                <key>offset</key>
                <string>{-51,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,125},{56,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,60},{54,110}}</string>
                <key>offset</key>
                <string>{-51,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,126},{54,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,116},{54,110}}</string>
                <key>offset</key>
                <string>{-51,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,126},{54,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{56,110}}</string>
                <key>offset</key>
                <string>{-51,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,126},{56,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{56,110}}</string>
                <key>offset</key>
                <string>{-50,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,125},{56,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part2_wing_5011_stand_8_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{58,108}}</string>
                <key>offset</key>
                <string>{-51,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,125},{58,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_8_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2df3dcff62a8ce224d33a460e708afb:1/1$</string>
            <key>textureFileName</key>
            <string>stand_8_part2.png</string>
        </dict>
    </dict>
</plist>
