<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,112}}</string>
                <key>offset</key>
                <string>{30,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,128},{76,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,156},{76,110}}</string>
                <key>offset</key>
                <string>{30,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,129},{76,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,234},{78,108}}</string>
                <key>offset</key>
                <string>{30,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,129},{78,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{76,112}}</string>
                <key>offset</key>
                <string>{30,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,123},{76,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{76,108}}</string>
                <key>offset</key>
                <string>{30,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,125},{76,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{76,106}}</string>
                <key>offset</key>
                <string>{30,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,127},{76,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,394},{76,106}}</string>
                <key>offset</key>
                <string>{29,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,127},{76,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{78,108}}</string>
                <key>offset</key>
                <string>{30,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,127},{78,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,314},{78,108}}</string>
                <key>offset</key>
                <string>{31,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,129},{78,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{76,110}}</string>
                <key>offset</key>
                <string>{30,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,129},{76,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,80},{74,112}}</string>
                <key>offset</key>
                <string>{29,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,128},{74,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_5_part2_wing_5011_stand_5_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,112}}</string>
                <key>offset</key>
                <string>{29,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,129},{76,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_5_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5780222d2d6b6238075de2b3bf189055:1/1$</string>
            <key>textureFileName</key>
            <string>stand_5_part2.png</string>
        </dict>
    </dict>
</plist>
