<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{52,88}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,189},{52,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,90}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,188},{50,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,182},{50,86}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,191},{50,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{50,82}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,193},{50,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,106},{50,80}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,194},{50,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{56,80}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,195},{56,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,158},{50,80}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,195},{50,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,54},{50,82}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,193},{50,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,90},{48,84}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,192},{48,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{48,86}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,190},{48,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,92},{48,88}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,189},{48,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_3_part1_wing_5011_stand_3_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,88}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,189},{50,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_3_part1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d2d7964afb9342e4c3e4d23ac5c97f7:1/1$</string>
            <key>textureFileName</key>
            <string>stand_3_part1.png</string>
        </dict>
    </dict>
</plist>
