<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,124}}</string>
                <key>offset</key>
                <string>{-5,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,110},{50,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{50,122}}</string>
                <key>offset</key>
                <string>{-5,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,111},{50,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,102},{50,120}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,112},{50,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{50,118}}</string>
                <key>offset</key>
                <string>{-8,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,112},{50,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,202},{48,116}}</string>
                <key>offset</key>
                <string>{-9,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,112},{48,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{48,116}}</string>
                <key>offset</key>
                <string>{-9,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,111},{48,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{46,114}}</string>
                <key>offset</key>
                <string>{-8,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,113},{46,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,252},{46,116}}</string>
                <key>offset</key>
                <string>{-7,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,113},{46,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,154},{46,118}}</string>
                <key>offset</key>
                <string>{-8,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,112},{46,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{46,120}}</string>
                <key>offset</key>
                <string>{-8,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,112},{46,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,54},{46,122}}</string>
                <key>offset</key>
                <string>{-7,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,112},{46,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part2_wing_5011_stand_1_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{48,122}}</string>
                <key>offset</key>
                <string>{-5,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,112},{48,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1256ca4d53b74772741d72df1e54ee80:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1_part2.png</string>
        </dict>
    </dict>
</plist>
