<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_13_sh_ride_shape_3016_sh_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-35}</string>
                <key>spriteSize</key>
                <string>{94,144}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{203,1},{94,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3016_sh_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-34}</string>
                <key>spriteSize</key>
                <string>{94,146}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{301,1},{94,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3016_sh_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-34}</string>
                <key>spriteSize</key>
                <string>{94,146}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{301,149},{94,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3016_sh_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-34}</string>
                <key>spriteSize</key>
                <string>{98,146}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,147},{98,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3016_sh_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-34}</string>
                <key>spriteSize</key>
                <string>{98,146}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{101,147},{98,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3016_sh_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-35}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3016_sh_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-35}</string>
                <key>spriteSize</key>
                <string>{98,144}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{103,1},{98,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3016_sh_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-35}</string>
                <key>spriteSize</key>
                <string>{98,144}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{201,147},{98,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1.png</string>
            <key>size</key>
            <string>{396,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51c180d5f08ae74731165a71244fd056:dff31debf19e378d10f3ebe52b7c531f:0b965a9b2764de96d50c3e5fcae4ba7a$</string>
            <key>textureFileName</key>
            <string>stand_1.png</string>
        </dict>
    </dict>
</plist>
