<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,380},{76,58}}</string>
                <key>offset</key>
                <string>{-49,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,127},{76,58}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,874},{66,60}}</string>
                <key>offset</key>
                <string>{-45,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,125},{66,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,570},{70,62}}</string>
                <key>offset</key>
                <string>{-46,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,123},{70,62}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{74,62}}</string>
                <key>offset</key>
                <string>{-49,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,124},{74,62}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,226},{80,66}}</string>
                <key>offset</key>
                <string>{-51,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,121},{80,66}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{66,68}}</string>
                <key>offset</key>
                <string>{-44,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,119},{66,68}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,740},{66,68}}</string>
                <key>offset</key>
                <string>{-44,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,119},{66,68}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{68,70}}</string>
                <key>offset</key>
                <string>{-45,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,118},{68,70}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,548},{68,70}}</string>
                <key>offset</key>
                <string>{-45,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,118},{68,70}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,478},{70,68}}</string>
                <key>offset</key>
                <string>{-47,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,120},{70,68}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,500},{70,68}}</string>
                <key>offset</key>
                <string>{-47,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,120},{70,68}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,94},{72,64}}</string>
                <key>offset</key>
                <string>{-48,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,121},{72,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{70,58}}</string>
                <key>offset</key>
                <string>{37,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,127},{70,58}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{76,60}}</string>
                <key>offset</key>
                <string>{40,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,125},{76,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,258},{80,60}}</string>
                <key>offset</key>
                <string>{42,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,124},{80,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{84,62}}</string>
                <key>offset</key>
                <string>{45,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,123},{84,62}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{90,64}}</string>
                <key>offset</key>
                <string>{47,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,121},{90,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{64,64}}</string>
                <key>offset</key>
                <string>{35,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,121},{64,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{64,66}}</string>
                <key>offset</key>
                <string>{34,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,119},{64,66}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,756},{68,64}}</string>
                <key>offset</key>
                <string>{36,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,121},{68,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,160},{74,64}}</string>
                <key>offset</key>
                <string>{38,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,122},{74,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{68,64}}</string>
                <key>offset</key>
                <string>{38,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,122},{68,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,618},{70,60}}</string>
                <key>offset</key>
                <string>{37,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,125},{70,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_5_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{70,62}}</string>
                <key>offset</key>
                <string>{38,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,124},{70,62}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,196},{84,60}}</string>
                <key>offset</key>
                <string>{43,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,162},{84,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,68},{88,62}}</string>
                <key>offset</key>
                <string>{46,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,161},{88,62}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,294},{78,60}}</string>
                <key>offset</key>
                <string>{41,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,162},{78,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{82,62}}</string>
                <key>offset</key>
                <string>{44,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{82,62}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{88,64}}</string>
                <key>offset</key>
                <string>{46,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,161},{88,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,64}}</string>
                <key>offset</key>
                <string>{48,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,162},{94,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,958},{64,64}}</string>
                <key>offset</key>
                <string>{34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,164},{64,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,808},{68,64}}</string>
                <key>offset</key>
                <string>{35,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,165},{68,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,882},{66,56}}</string>
                <key>offset</key>
                <string>{36,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{66,56}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{72,56}}</string>
                <key>offset</key>
                <string>{37,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,164},{72,56}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,418},{74,58}}</string>
                <key>offset</key>
                <string>{39,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,161},{74,58}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,320},{78,58}}</string>
                <key>offset</key>
                <string>{41,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,161},{78,58}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,940},{64,58}}</string>
                <key>offset</key>
                <string>{-43,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,161},{64,58}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,634},{70,60}}</string>
                <key>offset</key>
                <string>{-47,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,160},{70,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,356},{76,60}}</string>
                <key>offset</key>
                <string>{-49,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,159},{76,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{80,60}}</string>
                <key>offset</key>
                <string>{-52,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,159},{80,60}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,132},{86,62}}</string>
                <key>offset</key>
                <string>{-54,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,158},{86,62}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{90,64}}</string>
                <key>offset</key>
                <string>{-57,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,156},{90,64}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,936},{64,56}}</string>
                <key>offset</key>
                <string>{-44,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,164},{64,56}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{66,54}}</string>
                <key>offset</key>
                <string>{-44,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,165},{66,54}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,822},{68,58}}</string>
                <key>offset</key>
                <string>{-46,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,163},{68,58}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,440},{72,58}}</string>
                <key>offset</key>
                <string>{-47,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,162},{72,58}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,680},{70,58}}</string>
                <key>offset</key>
                <string>{-46,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,161},{70,58}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>stand_57_part_wing_5004_stand_7_part2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,696},{70,58}}</string>
                <key>offset</key>
                <string>{-47,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,160},{70,58}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_57_part.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644d10d10b2b654b0b991d903d4dca7e:1/1$</string>
            <key>textureFileName</key>
            <string>stand_57_part.png</string>
        </dict>
    </dict>
</plist>
