<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_3_sh_ride_shape_3015_sh_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-27}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_sh_ride_shape_3015_sh_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-28}</string>
                <key>spriteSize</key>
                <string>{144,172}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{149,1},{144,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_sh_ride_shape_3015_sh_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-29}</string>
                <key>spriteSize</key>
                <string>{144,174}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,175},{144,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_sh_ride_shape_3015_sh_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-30}</string>
                <key>spriteSize</key>
                <string>{142,174}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{147,175},{142,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_sh_ride_shape_3015_sh_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-30}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{295,1},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_sh_ride_shape_3015_sh_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-30}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{291,181},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_sh_ride_shape_3015_sh_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-29}</string>
                <key>spriteSize</key>
                <string>{140,178}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,351},{140,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_sh_ride_shape_3015_sh_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-28}</string>
                <key>spriteSize</key>
                <string>{142,176}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{143,351},{142,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3.png</string>
            <key>size</key>
            <string>{530,530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37c1abc89337b5ad583f26d4cde4be2a:5fddf64949951f95f96ede2cd11c5792:bfc62b5135232811a340b51fba37dfe3$</string>
            <key>textureFileName</key>
            <string>run_3.png</string>
        </dict>
    </dict>
</plist>
