<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_sh_ride_shape_3015_sh_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-28}</string>
                <key>spriteSize</key>
                <string>{144,180}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_sh_ride_shape_3015_sh_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-28}</string>
                <key>spriteSize</key>
                <string>{144,180}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,183},{144,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_sh_ride_shape_3015_sh_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-28}</string>
                <key>spriteSize</key>
                <string>{144,180}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,365},{144,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_sh_ride_shape_3015_sh_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-28}</string>
                <key>spriteSize</key>
                <string>{142,180}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{147,1},{142,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_sh_ride_shape_3015_sh_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-28}</string>
                <key>spriteSize</key>
                <string>{138,180}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{147,183},{138,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_sh_ride_shape_3015_sh_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-29}</string>
                <key>spriteSize</key>
                <string>{136,178}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{287,183},{136,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_sh_ride_shape_3015_sh_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-28}</string>
                <key>spriteSize</key>
                <string>{138,180}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{147,365},{138,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_sh_ride_shape_3015_sh_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-28}</string>
                <key>spriteSize</key>
                <string>{142,180}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{291,1},{142,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1.png</string>
            <key>size</key>
            <string>{546,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:002276a9c6e69930c83ffc6184ea6351:3d10174cb14d0c4df738f98929febf89:6b0fd2cb93095b6ecebd329f5f054e55$</string>
            <key>textureFileName</key>
            <string>run_1.png</string>
        </dict>
    </dict>
</plist>
