<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_sh_ride_shape_3015_sh_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-31}</string>
                <key>spriteSize</key>
                <string>{142,180}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_sh_ride_shape_3015_sh_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-31}</string>
                <key>spriteSize</key>
                <string>{142,178}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{145,1},{142,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_sh_ride_shape_3015_sh_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-30}</string>
                <key>spriteSize</key>
                <string>{142,178}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{289,179},{142,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_sh_ride_shape_3015_sh_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-30}</string>
                <key>spriteSize</key>
                <string>{140,176}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{147,181},{140,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_sh_ride_shape_3015_sh_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-30}</string>
                <key>spriteSize</key>
                <string>{140,176}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{291,359},{140,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_sh_ride_shape_3015_sh_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-30}</string>
                <key>spriteSize</key>
                <string>{142,176}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{147,359},{142,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_sh_ride_shape_3015_sh_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-31}</string>
                <key>spriteSize</key>
                <string>{144,176}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{289,1},{144,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_sh_ride_shape_3015_sh_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-31}</string>
                <key>spriteSize</key>
                <string>{144,178}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,183},{144,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1.png</string>
            <key>size</key>
            <string>{536,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:458226cd619e46008a559c3bc93f0067:31b7792b521394a1708518d27111d6d2:0b965a9b2764de96d50c3e5fcae4ba7a$</string>
            <key>textureFileName</key>
            <string>stand_1.png</string>
        </dict>
    </dict>
</plist>
