<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,82},{112,78}}</string>
                <key>offset</key>
                <string>{-65,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,174},{112,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,80}}</string>
                <key>offset</key>
                <string>{-67,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,172},{116,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,240},{104,82}}</string>
                <key>offset</key>
                <string>{-60,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,171},{104,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{110,82}}</string>
                <key>offset</key>
                <string>{-62,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,172},{110,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,324},{102,82}}</string>
                <key>offset</key>
                <string>{-59,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,172},{102,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,408},{96,80}}</string>
                <key>offset</key>
                <string>{-57,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,173},{96,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,408},{98,80}}</string>
                <key>offset</key>
                <string>{-58,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,173},{98,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{102,80}}</string>
                <key>offset</key>
                <string>{-60,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,173},{102,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{104,78}}</string>
                <key>offset</key>
                <string>{-61,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,174},{104,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{108,80}}</string>
                <key>offset</key>
                <string>{-63,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,172},{108,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,162},{110,76}}</string>
                <key>offset</key>
                <string>{-64,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,175},{110,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5015_stand_png_part2_7_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{114,78}}</string>
                <key>offset</key>
                <string>{-65,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,173},{114,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_7_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dc8d1527dfb7d44cd14ad8fda3f8680:1/1$</string>
            <key>textureFileName</key>
            <string>stand_7_part2.png</string>
        </dict>
    </dict>
</plist>
