<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{62,92}}</string>
                <key>offset</key>
                <string>{-47,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,170},{62,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,112}}</string>
                <key>offset</key>
                <string>{-47,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,170},{64,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{64,92}}</string>
                <key>offset</key>
                <string>{-47,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,172},{64,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{66,88}}</string>
                <key>offset</key>
                <string>{-48,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,178},{66,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,138},{66,88}}</string>
                <key>offset</key>
                <string>{-47,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,179},{66,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,156},{72,84}}</string>
                <key>offset</key>
                <string>{-49,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,185},{72,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,68},{68,86}}</string>
                <key>offset</key>
                <string>{-46,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,185},{68,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,68},{68,88}}</string>
                <key>offset</key>
                <string>{-45,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,184},{68,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,206},{70,76}}</string>
                <key>offset</key>
                <string>{-47,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,185},{70,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{70,76}}</string>
                <key>offset</key>
                <string>{-48,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,185},{70,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,242},{70,76}}</string>
                <key>offset</key>
                <string>{-49,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,185},{70,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_8_part1_wing_5015_stand_png_part1_8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{64,82}}</string>
                <key>offset</key>
                <string>{-47,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,179},{64,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_8_part1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcc784ae65c991256b0308a3bd00f040:1/1$</string>
            <key>textureFileName</key>
            <string>stand_8_part1.png</string>
        </dict>
    </dict>
</plist>
