<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,78},{114,74}}</string>
                <key>offset</key>
                <string>{-64,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,174},{114,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,76}}</string>
                <key>offset</key>
                <string>{-66,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,174},{118,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{106,76}}</string>
                <key>offset</key>
                <string>{-60,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,173},{106,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{110,76}}</string>
                <key>offset</key>
                <string>{-62,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,173},{110,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,308},{104,74}}</string>
                <key>offset</key>
                <string>{-59,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,176},{104,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,388},{96,72}}</string>
                <key>offset</key>
                <string>{-55,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,178},{96,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{100,72}}</string>
                <key>offset</key>
                <string>{-57,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,178},{100,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{102,76}}</string>
                <key>offset</key>
                <string>{-58,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,177},{102,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,234},{106,72}}</string>
                <key>offset</key>
                <string>{-60,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,179},{106,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,154},{108,78}}</string>
                <key>offset</key>
                <string>{-61,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,172},{108,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{112,72}}</string>
                <key>offset</key>
                <string>{-63,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,176},{112,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_7_part2_wing_5016_stand_7_part2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{116,74}}</string>
                <key>offset</key>
                <string>{-65,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,173},{116,74}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_7_part2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d866644f7374af1e481e5f848145ea3:1/1$</string>
            <key>textureFileName</key>
            <string>stand_7_part2.png</string>
        </dict>
    </dict>
</plist>
