<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{92,78}}</string>
                <key>offset</key>
                <string>{-72,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,164},{92,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,96},{88,96}}</string>
                <key>offset</key>
                <string>{-70,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,165},{88,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{90,80}}</string>
                <key>offset</key>
                <string>{-71,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,165},{90,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,274},{90,86}}</string>
                <key>offset</key>
                <string>{-71,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,161},{90,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,186},{92,86}}</string>
                <key>offset</key>
                <string>{-72,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,163},{92,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{94,86}}</string>
                <key>offset</key>
                <string>{-73,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,164},{94,86}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{98,90}}</string>
                <key>offset</key>
                <string>{-75,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,162},{98,90}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,92}}</string>
                <key>offset</key>
                <string>{-75,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,161},{98,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,80}}</string>
                <key>offset</key>
                <string>{-76,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,159},{100,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{84,80}}</string>
                <key>offset</key>
                <string>{-68,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,160},{84,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,362},{80,78}}</string>
                <key>offset</key>
                <string>{-66,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,162},{80,78}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>stand_1_part1_wing_5016_stand_1_part1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,426},{82,76}}</string>
                <key>offset</key>
                <string>{-67,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,165},{82,76}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand_1_part1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfd0788c62c261917a7aab3a91e4f77b:1/1$</string>
            <key>textureFileName</key>
            <string>stand_1_part1.png</string>
        </dict>
    </dict>
</plist>
