<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,54}</string>
                <key>spriteSize</key>
                <string>{202,148}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{159,219},{202,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,55}</string>
                <key>spriteSize</key>
                <string>{188,162}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{159,369},{188,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,61}</string>
                <key>spriteSize</key>
                <string>{176,186}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,57}</string>
                <key>spriteSize</key>
                <string>{160,216}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{179,1},{160,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,64}</string>
                <key>spriteSize</key>
                <string>{156,214}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,189},{156,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,68}</string>
                <key>spriteSize</key>
                <string>{174,200}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{341,1},{174,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,72}</string>
                <key>spriteSize</key>
                <string>{186,170}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{363,203},{186,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,64}</string>
                <key>spriteSize</key>
                <string>{194,136}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{349,375},{194,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_b.png</string>
            <key>size</key>
            <string>{550,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17db88a93f7b2e1cd4f29e067cd70038:3528656fb9665b07842871d95bdd8ec8:6906f11401650d27911352756de3c435$</string>
            <key>textureFileName</key>
            <string>run_1_b.png</string>
        </dict>
    </dict>
</plist>
