<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,-25}</string>
                <key>spriteSize</key>
                <string>{167,150}</string>
                <key>spriteSourceSize</key>
                <string>{721,630}</string>
                <key>textureRect</key>
                <string>{{1,151},{167,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-29}</string>
                <key>spriteSize</key>
                <string>{173,154}</string>
                <key>spriteSourceSize</key>
                <string>{721,630}</string>
                <key>textureRect</key>
                <string>{{170,157},{173,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,-30}</string>
                <key>spriteSize</key>
                <string>{189,164}</string>
                <key>spriteSourceSize</key>
                <string>{721,630}</string>
                <key>textureRect</key>
                <string>{{1,313},{189,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,-31}</string>
                <key>spriteSize</key>
                <string>{191,170}</string>
                <key>spriteSourceSize</key>
                <string>{721,630}</string>
                <key>textureRect</key>
                <string>{{192,329},{191,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-22}</string>
                <key>spriteSize</key>
                <string>{183,148}</string>
                <key>spriteSourceSize</key>
                <string>{721,630}</string>
                <key>textureRect</key>
                <string>{{154,1},{183,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-19}</string>
                <key>spriteSize</key>
                <string>{151,138}</string>
                <key>spriteSourceSize</key>
                <string>{721,630}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-21}</string>
                <key>spriteSize</key>
                <string>{151,154}</string>
                <key>spriteSourceSize</key>
                <string>{721,630}</string>
                <key>textureRect</key>
                <string>{{339,1},{151,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-30}</string>
                <key>spriteSize</key>
                <string>{157,170}</string>
                <key>spriteSourceSize</key>
                <string>{721,630}</string>
                <key>textureRect</key>
                <string>{{345,157},{157,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_f.png</string>
            <key>size</key>
            <string>{503,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf8d58df600fdb3c896f389a9213b95c:da6d147cce62c355aaf45daf9dda7356:106d3046d0e71676a4432022aa46d34d$</string>
            <key>textureFileName</key>
            <string>run_3_f.png</string>
        </dict>
    </dict>
</plist>
