<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,49}</string>
                <key>spriteSize</key>
                <string>{158,168}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{321,185},{158,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,36}</string>
                <key>spriteSize</key>
                <string>{164,182}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{165,1},{164,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,30}</string>
                <key>spriteSize</key>
                <string>{162,186}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,39}</string>
                <key>spriteSize</key>
                <string>{162,170}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{157,189},{162,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,48}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{157,361},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,46}</string>
                <key>spriteSize</key>
                <string>{154,180}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{331,1},{154,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,44}</string>
                <key>spriteSize</key>
                <string>{154,188}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,189},{154,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,55}</string>
                <key>spriteSize</key>
                <string>{156,164}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{317,361},{156,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_b.png</string>
            <key>size</key>
            <string>{526,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e035654d4b429eee76b8d6ef63f3ee51:d7a9b28cd61643464aab9bea36cc89cd:968c0e4293938d4ae810d463b228e48c$</string>
            <key>textureFileName</key>
            <string>run_3_b.png</string>
        </dict>
    </dict>
</plist>
