<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,19}</string>
                <key>spriteSize</key>
                <string>{198,168}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{199,1},{198,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,12}</string>
                <key>spriteSize</key>
                <string>{196,174}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,21}</string>
                <key>spriteSize</key>
                <string>{198,150}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,177},{198,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,30}</string>
                <key>spriteSize</key>
                <string>{176,146}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{399,1},{176,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,39}</string>
                <key>spriteSize</key>
                <string>{192,134}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{205,453},{192,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,41}</string>
                <key>spriteSize</key>
                <string>{204,138}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{205,313},{204,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,40}</string>
                <key>spriteSize</key>
                <string>{222,140}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{201,171},{222,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,32}</string>
                <key>spriteSize</key>
                <string>{202,150}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,329},{202,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_f.png</string>
            <key>size</key>
            <string>{588,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c4064dd1bd3d8253bccd047bfa6529e:ddeb704a0efa443f9bb41feaea888a6d:0dcf570fafbd64dd9fee7532522305f3$</string>
            <key>textureFileName</key>
            <string>run_1_f.png</string>
        </dict>
    </dict>
</plist>
