<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,7}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,7}</string>
                <key>spriteSize</key>
                <string>{138,170}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{163,347},{138,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,8}</string>
                <key>spriteSize</key>
                <string>{142,172}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{317,175},{142,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,8}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,173},{148,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,8}</string>
                <key>spriteSize</key>
                <string>{160,172}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{183,1},{160,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,7}</string>
                <key>spriteSize</key>
                <string>{158,170}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{345,1},{158,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,7}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,347},{160,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd1_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{164,170}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{151,175},{164,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_f.png</string>
            <key>size</key>
            <string>{518,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2e2c2440494552b10cf048b00eb4a0f:4be0db72802352e89b55f4d2fa66ec01:7a68ce09e50d27178ff0ad295a7e4ff3$</string>
            <key>textureFileName</key>
            <string>stand_1_f.png</string>
        </dict>
    </dict>
</plist>
