<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,45}</string>
                <key>spriteSize</key>
                <string>{154,186}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,191},{154,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,46}</string>
                <key>spriteSize</key>
                <string>{152,188}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{279,1},{152,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,46}</string>
                <key>spriteSize</key>
                <string>{276,188}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,46}</string>
                <key>spriteSize</key>
                <string>{152,188}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{313,191},{152,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,46}</string>
                <key>spriteSize</key>
                <string>{154,186}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{157,191},{154,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,45}</string>
                <key>spriteSize</key>
                <string>{154,186}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,379},{154,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,44}</string>
                <key>spriteSize</key>
                <string>{154,184}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{157,379},{154,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd2_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,44}</string>
                <key>spriteSize</key>
                <string>{154,182}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{313,381},{154,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_b.png</string>
            <key>size</key>
            <string>{566,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2966c5a8752ccb1402b0ba99f024651:5df00fad22b63ca99df6c7c8e6d3ce64:b763bf2a2b4c09ea147574fb795a436b$</string>
            <key>textureFileName</key>
            <string>stand_3_b.png</string>
        </dict>
    </dict>
</plist>
