<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-16}</string>
                <key>spriteSize</key>
                <string>{192,126}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{195,263},{192,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-21}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{183,391},{186,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-23}</string>
                <key>spriteSize</key>
                <string>{176,140}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{371,391},{176,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-26}</string>
                <key>spriteSize</key>
                <string>{206,146}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,1},{206,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-24}</string>
                <key>spriteSize</key>
                <string>{180,142}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,299},{180,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-27}</string>
                <key>spriteSize</key>
                <string>{192,148}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,149},{192,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,-21}</string>
                <key>spriteSize</key>
                <string>{202,132}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{209,1},{202,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_3_rd1rd2_ride_ride_9421_rd1_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-16}</string>
                <key>spriteSize</key>
                <string>{196,126}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{209,135},{196,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_f.png</string>
            <key>size</key>
            <string>{548,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4c9de7e4802240c9458cf9ed0288914:06e43f64cc3c51071ab384f241cb24a2:6dd2131498e5e789931da276e27f62e8$</string>
            <key>textureFileName</key>
            <string>stand_3_f.png</string>
        </dict>
    </dict>
</plist>
