<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,23}</string>
                <key>spriteSize</key>
                <string>{264,124}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,22}</string>
                <key>spriteSize</key>
                <string>{206,122}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,249},{206,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,20}</string>
                <key>spriteSize</key>
                <string>{208,118}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{209,253},{208,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,19}</string>
                <key>spriteSize</key>
                <string>{210,116}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{215,373},{210,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,19}</string>
                <key>spriteSize</key>
                <string>{212,116}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,373},{212,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,21}</string>
                <key>spriteSize</key>
                <string>{214,120}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1,127},{214,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,23}</string>
                <key>spriteSize</key>
                <string>{216,124}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{267,1},{216,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standrun_1_rd1rd2_ride_ride_9421_rd2_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,23}</string>
                <key>spriteSize</key>
                <string>{206,124}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{217,127},{206,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_b.png</string>
            <key>size</key>
            <string>{490,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f960af82d673ca83b6ea2293db4f5de:1de27a4513cd83fffc40cf3d6104c373:f4a3be5acebfee7c879e96700b9b8f6a$</string>
            <key>textureFileName</key>
            <string>stand_1_b.png</string>
        </dict>
    </dict>
</plist>
