<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd1rd2_ride_ride_9222_rd1_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-35}</string>
                <key>spriteSize</key>
                <string>{266,130}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{273,133},{266,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9222_rd1_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-34}</string>
                <key>spriteSize</key>
                <string>{264,130}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{275,1},{264,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9222_rd1_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-33}</string>
                <key>spriteSize</key>
                <string>{268,128}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,387},{268,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9222_rd1_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-33}</string>
                <key>spriteSize</key>
                <string>{268,128}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{271,397},{268,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9222_rd1_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-34}</string>
                <key>spriteSize</key>
                <string>{272,126}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9222_rd1_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-35}</string>
                <key>spriteSize</key>
                <string>{270,126}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,259},{270,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9222_rd1_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-36}</string>
                <key>spriteSize</key>
                <string>{270,128}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,129},{270,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9222_rd1_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-36}</string>
                <key>spriteSize</key>
                <string>{262,130}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{273,265},{262,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_f.png</string>
            <key>size</key>
            <string>{540,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9f2522927400702c740e07e970356cf:7fdc821b2c758287d739834bd47ca9c0:7a68ce09e50d27178ff0ad295a7e4ff3$</string>
            <key>textureFileName</key>
            <string>stand_1_f.png</string>
        </dict>
    </dict>
</plist>
