<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_rd1rd2_ride_ride_9222_rd2_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{350,232}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9222_rd2_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-29}</string>
                <key>spriteSize</key>
                <string>{350,232}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{353,1},{350,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9222_rd2_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-30}</string>
                <key>spriteSize</key>
                <string>{350,230}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,235},{350,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9222_rd2_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-32}</string>
                <key>spriteSize</key>
                <string>{350,226}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{353,467},{350,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9222_rd2_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-33}</string>
                <key>spriteSize</key>
                <string>{350,224}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,697},{350,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9222_rd2_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-32}</string>
                <key>spriteSize</key>
                <string>{350,226}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{353,695},{350,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9222_rd2_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-31}</string>
                <key>spriteSize</key>
                <string>{350,228}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,467},{350,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9222_rd2_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-30}</string>
                <key>spriteSize</key>
                <string>{350,230}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{353,235},{350,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_b.png</string>
            <key>size</key>
            <string>{922,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57d56ce25a7feb4165e8d94d68829bf1:679fb866633147990cee98fe727b17d6:b763bf2a2b4c09ea147574fb795a436b$</string>
            <key>textureFileName</key>
            <string>stand_3_b.png</string>
        </dict>
    </dict>
</plist>
