<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_13_sh_ride_shape_1011_sh_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-37}</string>
                <key>spriteSize</key>
                <string>{88,154}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{97,1},{88,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1011_sh_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-37}</string>
                <key>spriteSize</key>
                <string>{92,154}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{1,157},{92,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1011_sh_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-37}</string>
                <key>spriteSize</key>
                <string>{94,154}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1011_sh_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-36}</string>
                <key>spriteSize</key>
                <string>{90,154}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{95,157},{90,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1011_sh_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-35}</string>
                <key>spriteSize</key>
                <string>{82,154}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{187,1},{82,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1011_sh_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-35}</string>
                <key>spriteSize</key>
                <string>{82,154}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{271,1},{82,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1011_sh_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-35}</string>
                <key>spriteSize</key>
                <string>{82,154}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{187,157},{82,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_13_sh_ride_shape_1011_sh_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-36}</string>
                <key>spriteSize</key>
                <string>{82,154}</string>
                <key>spriteSourceSize</key>
                <string>{490,490}</string>
                <key>textureRect</key>
                <string>{{271,157},{82,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3.png</string>
            <key>size</key>
            <string>{354,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe289bd7b7f586b62920d5e89db258aa:502c5c2b950d8730c1cc4041fafcb2c7:bfc62b5135232811a340b51fba37dfe3$</string>
            <key>textureFileName</key>
            <string>run_3.png</string>
        </dict>
    </dict>
</plist>
