<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_13_sh_ride_shape_2004_sh_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,8}</string>
                <key>spriteSize</key>
                <string>{120,122}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{125,125},{120,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2004_sh_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,8}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,125},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2004_sh_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{129,1},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2004_sh_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2004_sh_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{1,249},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2004_sh_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{245,249},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2004_sh_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{118,120}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{247,125},{118,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_2004_sh_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{118,122}</string>
                <key>spriteSourceSize</key>
                <string>{470,470}</string>
                <key>textureRect</key>
                <string>{{125,249},{118,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1.png</string>
            <key>size</key>
            <string>{372,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bca5a6ea02c8736b0b86c805183da7eb:fcfb0ed43cf5fa1e99000b76a11789b3:0b965a9b2764de96d50c3e5fcae4ba7a$</string>
            <key>textureFileName</key>
            <string>stand_1.png</string>
        </dict>
    </dict>
</plist>
