<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_3_rd1rd2_ride_ride_9431_rd2_run_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,110}</string>
                <key>spriteSize</key>
                <string>{232,226}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{491,495},{232,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9431_rd2_run_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,111}</string>
                <key>spriteSize</key>
                <string>{248,218}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{241,495},{248,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9431_rd2_run_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,99}</string>
                <key>spriteSize</key>
                <string>{266,230}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{257,263},{266,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9431_rd2_run_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,82}</string>
                <key>spriteSize</key>
                <string>{226,248}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{525,1},{226,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9431_rd2_run_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,74}</string>
                <key>spriteSize</key>
                <string>{238,264}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,283},{238,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9431_rd2_run_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,69}</string>
                <key>spriteSize</key>
                <string>{254,280}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9431_rd2_run_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,87}</string>
                <key>spriteSize</key>
                <string>{266,260}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{257,1},{266,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3_rd1rd2_ride_ride_9431_rd2_run_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,109}</string>
                <key>spriteSize</key>
                <string>{220,224}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{525,251},{220,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_3_b.png</string>
            <key>size</key>
            <string>{752,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37162059a16fd82dcca14c8ffd47ecbe:83a3f20939adca229d9f371253f504ff:968c0e4293938d4ae810d463b228e48c$</string>
            <key>textureFileName</key>
            <string>run_3_b.png</string>
        </dict>
    </dict>
</plist>
