<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1_rd1rd2_ride_ride_9431_rd1_run_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,69}</string>
                <key>spriteSize</key>
                <string>{238,206}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{489,267},{238,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9431_rd1_run_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,62}</string>
                <key>spriteSize</key>
                <string>{254,226}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{273,501},{254,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9431_rd1_run_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,50}</string>
                <key>spriteSize</key>
                <string>{270,252}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9431_rd1_run_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,39}</string>
                <key>spriteSize</key>
                <string>{228,270}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,255},{228,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9431_rd1_run_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,41}</string>
                <key>spriteSize</key>
                <string>{238,264}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{273,1},{238,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9431_rd1_run_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,53}</string>
                <key>spriteSize</key>
                <string>{256,232}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{231,267},{256,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9431_rd1_run_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,83}</string>
                <key>spriteSize</key>
                <string>{270,192}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,527},{270,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1_rd1rd2_ride_ride_9431_rd1_run_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,84}</string>
                <key>spriteSize</key>
                <string>{228,202}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{513,1},{228,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run_1_f.png</string>
            <key>size</key>
            <string>{742,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7afc8d1cd45d7d9617a7e3737db6a1a2:03fc2a5779c428b2d17c26e78fcde19e:0dcf570fafbd64dd9fee7532522305f3$</string>
            <key>textureFileName</key>
            <string>run_1_f.png</string>
        </dict>
    </dict>
</plist>
