<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd1rd2_ride_ride_9431_rd1_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,40}</string>
                <key>spriteSize</key>
                <string>{236,236}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,505},{236,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9431_rd1_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,41}</string>
                <key>spriteSize</key>
                <string>{250,238}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{263,241},{250,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9431_rd1_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,41}</string>
                <key>spriteSize</key>
                <string>{262,238}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{263,1},{262,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9431_rd1_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,46}</string>
                <key>spriteSize</key>
                <string>{218,248}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{471,489},{218,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9431_rd1_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,46}</string>
                <key>spriteSize</key>
                <string>{226,246}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{515,241},{226,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9431_rd1_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,46}</string>
                <key>spriteSize</key>
                <string>{244,248}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,255},{244,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9431_rd1_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,48}</string>
                <key>spriteSize</key>
                <string>{260,252}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9431_rd1_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,48}</string>
                <key>spriteSize</key>
                <string>{222,252}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{247,489},{222,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_f.png</string>
            <key>size</key>
            <string>{742,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b36764fdd51337f3aac6f6258467e73a:62534159a933e4cba4149174bc176dc2:7a68ce09e50d27178ff0ad295a7e4ff3$</string>
            <key>textureFileName</key>
            <string>stand_1_f.png</string>
        </dict>
    </dict>
</plist>
