<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_13_sh_ride_shape_3035_sh_stand_1_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,32}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3035_sh_stand_1_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,33}</string>
                <key>spriteSize</key>
                <string>{86,160}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{91,161},{86,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3035_sh_stand_1_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,33}</string>
                <key>spriteSize</key>
                <string>{86,158}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{179,161},{86,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3035_sh_stand_1_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,34}</string>
                <key>spriteSize</key>
                <string>{86,158}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{181,1},{86,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3035_sh_stand_1_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,33}</string>
                <key>spriteSize</key>
                <string>{86,156}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{269,1},{86,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3035_sh_stand_1_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,33}</string>
                <key>spriteSize</key>
                <string>{88,156}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{267,161},{88,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3035_sh_stand_1_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,33}</string>
                <key>spriteSize</key>
                <string>{88,158}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{91,1},{88,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_13_sh_ride_shape_3035_sh_stand_1_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,33}</string>
                <key>spriteSize</key>
                <string>{88,160}</string>
                <key>spriteSourceSize</key>
                <string>{430,430}</string>
                <key>textureRect</key>
                <string>{{1,163},{88,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1.png</string>
            <key>size</key>
            <string>{356,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ea4c51f9017bb01b64f8cfe1b081786:ab8ede6422f03e9442b7ad1f33e930fb:0b965a9b2764de96d50c3e5fcae4ba7a$</string>
            <key>textureFileName</key>
            <string>stand_1.png</string>
        </dict>
    </dict>
</plist>
