<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_3_rd1rd2_ride_ride_9341_rd1_stand_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,68}</string>
                <key>spriteSize</key>
                <string>{162,110}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{369,1},{162,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9341_rd1_stand_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,66}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{345,405},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9341_rd1_stand_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,63}</string>
                <key>spriteSize</key>
                <string>{180,84}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{189,209},{180,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9341_rd1_stand_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,45}</string>
                <key>spriteSize</key>
                <string>{190,108}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{345,295},{190,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9341_rd1_stand_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-31}</string>
                <key>spriteSize</key>
                <string>{158,232}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,265},{158,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9341_rd1_stand_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-44}</string>
                <key>spriteSize</key>
                <string>{186,262}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9341_rd1_stand_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-17}</string>
                <key>spriteSize</key>
                <string>{178,206}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{189,1},{178,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_3_rd1rd2_ride_ride_9341_rd1_stand_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,21}</string>
                <key>spriteSize</key>
                <string>{182,166}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{161,295},{182,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_3_f.png</string>
            <key>size</key>
            <string>{536,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c099e80f5248591379f60257134b12d4:095106bd4a572c41453211e827778687:6dd2131498e5e789931da276e27f62e8$</string>
            <key>textureFileName</key>
            <string>stand_3_f.png</string>
        </dict>
    </dict>
</plist>
