<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand_1_rd1rd2_ride_ride_9341_rd1_stand_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,31}</string>
                <key>spriteSize</key>
                <string>{238,114}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{229,111},{238,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9341_rd1_stand_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,29}</string>
                <key>spriteSize</key>
                <string>{246,122}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,235},{246,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9341_rd1_stand_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,25}</string>
                <key>spriteSize</key>
                <string>{242,108}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{229,1},{242,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9341_rd1_stand_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,11}</string>
                <key>spriteSize</key>
                <string>{190,156}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{439,447},{190,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9341_rd1_stand_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-22}</string>
                <key>spriteSize</key>
                <string>{236,218}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{249,227},{236,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9341_rd1_stand_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-30}</string>
                <key>spriteSize</key>
                <string>{226,232}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9341_rd1_stand_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-9}</string>
                <key>spriteSize</key>
                <string>{220,184}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,359},{220,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand_1_rd1rd2_ride_ride_9341_rd1_stand_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,8}</string>
                <key>spriteSize</key>
                <string>{214,128}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{223,447},{214,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stand_1_f.png</string>
            <key>size</key>
            <string>{630,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cbb7af454f75efcfe29e9ef4a51db65:60f65786ce530d9dd8f98489a4445a90:7a68ce09e50d27178ff0ad295a7e4ff3$</string>
            <key>textureFileName</key>
            <string>stand_1_f.png</string>
        </dict>
    </dict>
</plist>
